.env
.git
*.sqlite3
*.sqlite3-jounal
*.sqlite
*.swp
*.log
.aider*
.coverage
.github/
.idea/
.mypy_cache/
.pytest_cache/
.ropeproject/
.ruff_cache/
.vscode/
venv/
.venv/
__pycache__/

src/hackingBuddyGPT.egg-info/
build/
dist/

config/my_configs/*
config/configs/*
config/configs/
