OPENAI_KEY="your-openai-key"
MODEL="gpt-4"
CONTEXT_SIZE=7000

# exchange with the IP of your target VM
TARGET_IP='enter-the-private-ip-of-some-vm.local'

# exchange with the user for your target VM
TARGET_USER='bob'
TARGET_PASSWORD='secret'
