.env
venv/
.venv/
__pycache__/
*.swp
*.log
.idea/
*.sqlite3
*.sqlite3-jounal
*.sqlite
src/hackingBuddyGPT.egg-info/
build/
dist/
.coverage
src/hackingBuddyGPT/usecases/web_api_testing/openapi_spec/
src/hackingBuddyGPT/usecases/web_api_testing/converted_files/
/src/hackingBuddyGPT/usecases/web_api_testing/documentation/openapi_spec/
/src/hackingBuddyGPT/usecases/web_api_testing/documentation/reports/
scripts/codespaces_ansible.cfg
scripts/codespaces_ansible_hosts.ini
scripts/codespaces_ansible_id_rsa
scripts/codespaces_ansible_id_rsa.pub
scripts/mac_ansible.cfg
scripts/mac_ansible_hosts.ini
scripts/mac_ansible_id_rsa
scripts/mac_ansible_id_rsa.pub
.aider*

src/hackingBuddyGPT/usecases/web_api_testing/documentation/reports/
src/hackingBuddyGPT/usecases/web_api_testing/retrieve_spotify_token.py
config/my_configs/*
config/configs/*
config/configs/

src/hackingBuddyGPT/usecases/web_api_documentation/openapi_spec/
