.env
venv/
__pycache__/
*.swp
*.log
.idea/
*.sqlite3
*.sqlite3-jounal
*.sqlite
src/hackingBuddyGPT.egg-info/
build/
dist/
.coverage
src/hackingBuddyGPT/usecases/web_api_testing/openapi_spec/
src/hackingBuddyGPT/usecases/web_api_testing/converted_files/
/src/hackingBuddyGPT/usecases/web_api_testing/documentation/openapi_spec/
/src/hackingBuddyGPT/usecases/web_api_testing/documentation/reports/
codespaces_ansible.cfg
codespaces_ansible_hosts.ini
codespaces_ansible_id_rsa
codespaces_ansible_id_rsa.pub
