{
  "openapi": "3.1.0",
  "info": {
    "title": "GBIF Species API",
    "description": "**Disclaimer** - This *OpenAPI* specification is generated with the tool *RESTSpecIT*, which leverages *GPT* Large Language Models. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is complicated to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs, demonstrating an average route and parameter discovery rate of over x%. Additionally, the tool is capable of discovering undocumented features of APIs, which was verified with x of the tested APIs.<br><br>**API Description** - The GBIF Species API is a web service that provides access to species-related data from the Global Biodiversity Information Facility (GBIF) database.",
    "termsOfService": "https://www.gbif.org/terms",
    "contact": {
      "name": "GBIF Species API Contact",
      "url": "https://www.gbif.org/contact-us",
      "email": "support@gbif.org"
    },
    "license": {
      "name": "Creative Commons Attribution (CC BY) 4.0 license",
      "url": "https://creativecommons.org/licenses/by/4.0"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.gbif.org",
      "description": "Production Server of the GBIF Species API.",
      "x-base-routes": 2
    }
  ],
  "externalDocs": {
    "url": "https://www.gbif.org/developer/species",
    "description": "Find more about the GBIF Species API here:"
  },
  "paths": {
    "/v1/species/search": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "q",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "cat": {
                "value": "cat"
              },
              "taxonKey:123456789": {
                "value": "taxonKey:123456789"
              },
              "Canidae": {
                "value": "Canidae"
              },
              "plant": {
                "value": "plant"
              },
              "tree": {
                "value": "tree"
              },
              "elephant": {
                "value": "elephant"
              }
            }
          },
          {
            "name": "limit",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              },
              "50": {
                "value": "50"
              },
              "100": {
                "value": "100"
              }
            }
          },
          {
            "name": "rank",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "species": {
                "value": "species"
              },
              "SPECIES": {
                "value": "SPECIES"
              },
              "class": {
                "value": "class"
              }
            }
          },
          {
            "name": "offset",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "0": {
                "value": "0"
              },
              "10": {
                "value": "10"
              }
            }
          },
          {
            "name": "datasetKey",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "50c9509d-22c7-4a22-a47d-8c48425ef4a7": {
                "value": "50c9509d-22c7-4a22-a47d-8c48425ef4a7"
              },
              "ebd6eac3-5a7c-4f38-bb8b-699e4424ecea": {
                "value": "ebd6eac3-5a7c-4f38-bb8b-699e4424ecea"
              }
            }
          },
          {
            "name": "year",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2000": {
                "value": "2000"
              },
              "2020": {
                "value": "2020"
              },
              "2022": {
                "value": "2022"
              }
            }
          },
          {
            "name": "kingdom",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Animalia": {
                "value": "Animalia"
              },
              "Fungi": {
                "value": "Fungi"
              }
            }
          },
          {
            "name": "order",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Carnivora": {
                "value": "Carnivora"
              }
            }
          },
          {
            "name": "mediaType",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "StillImage": {
                "value": "StillImage"
              }
            }
          },
          {
            "name": "locale",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "fr": {
                "value": "fr"
              },
              "en": {
                "value": "en"
              }
            }
          },
          {
            "name": "nameType",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "SCIENTIFIC": {
                "value": "SCIENTIFIC"
              }
            }
          },
          {
            "name": "nameStatus",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ACCEPTED": {
                "value": "ACCEPTED"
              }
            }
          },
          {
            "name": "name",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Canis+lupus": {
                "value": "Canis+lupus"
              },
              "Panthera%20leo": {
                "value": "Panthera%20leo"
              }
            }
          },
          {
            "name": "country",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "GB": {
                "value": "GB"
              }
            }
          },
          {
            "name": "sort",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "strict",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "examples": {
              "true": {
                "value": "true"
              },
              "false": {
                "value": "false"
              }
            }
          },
          {
            "name": "taxonKey",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "521": {
                "value": "521"
              }
            }
          },
          {
            "name": "phylum",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Chordata": {
                "value": "Chordata"
              }
            }
          },
          {
            "name": "class",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Mammalia": {
                "value": "Mammalia"
              }
            }
          },
          {
            "name": "family",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Felidae": {
                "value": "Felidae"
              }
            }
          },
          {
            "name": "genus",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Panthera": {
                "value": "Panthera"
              }
            }
          },
          {
            "name": "highertaxon",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Primates": {
                "value": "Primates"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No description.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema_v1_species_search"
                },
                "example": {
                  "offset": 0,
                  "limit": 10,
                  "endOfRecords": false,
                  "count": 10502,
                  "results": [
                    {
                      "key": 217879469,
                      "datasetKey": "cbb6498e-8927-405a-916b-576d00a6289b",
                      "parentKey": 217879438,
                      "parent": "Mollusca",
                      "kingdom": "Animalia",
                      "phylum": "Mollusca",
                      "kingdomKey": 165236969,
                      "phylumKey": 217879438,
                      "classKey": 217879469,
                      "scientificName": "Cat",
                      "canonicalName": "Cat",
                      "taxonomicStatus": "ACCEPTED",
                      "rank": "CLASS",
                      "origin": "DENORMED_CLASSIFICATION",
                      "numDescendants": 0,
                      "numOccurrences": 0,
                      "habitats": [],
                      "nomenclaturalStatus": [],
                      "threatStatuses": [],
                      "descriptions": [],
                      "vernacularNames": [],
                      "synonym": false,
                      "higherClassificationMap": {
                        "165236969": "Animalia",
                        "217879438": "Mollusca"
                      },
                      "class": "Cat"
                    },
                    {
                      "key": 182616534,
                      "datasetKey": "994e75fa-b187-4b07-a30e-665f4acbe394",
                      "nubKey": 6188324,
                      "parentKey": 182616523,
                      "parent": "Catamicrophyllum",
                      "order": "Julida",
                      "family": "Julidae",
                      "genus": "Catamicrophyllum",
                      "species": "Catamicrophyllum cat",
                      "classKey": 182598792,
                      "orderKey": 182615141,
                      "familyKey": 182615142,
                      "genusKey": 182616523,
                      "speciesKey": 182616534,
                      "scientificName": "Catamicrophyllum cat",
                      "canonicalName": "Catamicrophyllum cat",
                      "nameType": "SCIENTIFIC",
                      "taxonomicStatus": "ACCEPTED",
                      "rank": "SPECIES",
                      "origin": "SOURCE",
                      "numDescendants": 0,
                      "numOccurrences": 0,
                      "habitats": [],
                      "nomenclaturalStatus": [],
                      "threatStatuses": [],
                      "descriptions": [],
                      "vernacularNames": [],
                      "synonym": false,
                      "higherClassificationMap": {
                        "182598792": "Diplopoda",
                        "182615141": "Julida",
                        "182615142": "Julidae",
                        "182616523": "Catamicrophyllum"
                      },
                      "class": "Diplopoda"
                    },
                    {
                      "key": 207178220,
                      "datasetKey": "f382f0ce-323a-4091-bb9f-add557f3a9a2",
                      "nubKey": 2747924,
                      "parentKey": 1422997,
                      "parent": "Iridaceae",
                      "acceptedKey": 207177751,
                      "accepted": "Tigridia Juss.",
                      "family": "Iridaceae",
                      "genus": "Tigridia",
                      "familyKey": 213759301,
                      "genusKey": 207177751,
                      "scientificName": "Colima (Ravenna) Aar\u00f3n Rodr. & Ortiz-Cat.",
                      "canonicalName": "Colima",
                      "authorship": "(Ravenna) Aar\u00f3n Rodr. & Ortiz-Cat.",
                      "publishedIn": "Acta Bot. Mex. 65: 53 (2003)",
                      "nameType": "SCIENTIFIC",
                      "taxonomicStatus": "SYNONYM",
                      "rank": "GENUS",
                      "origin": "SOURCE",
                      "numDescendants": 0,
                      "numOccurrences": 0,
                      "habitats": [],
                      "nomenclaturalStatus": [],
                      "threatStatuses": [],
                      "descriptions": [],
                      "vernacularNames": [],
                      "synonym": true,
                      "higherClassificationMap": {
                        "213759301": "Iridaceae",
                        "207177751": "Tigridia",
                        "1422997": "Iridaceae"
                      }
                    },
                    {
                      "key": 194994921,
                      "datasetKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                      "constituentKey": "5e8ba9ca-1cac-4ddb-88c8-c14c098ad104",
                      "nubKey": 9816025,
                      "parentKey": 4086110,
                      "parent": "Iridaceae",
                      "acceptedKey": 194994862,
                      "accepted": "Tigridia Juss.",
                      "kingdom": "Plantae",
                      "phylum": "Tracheophyta",
                      "order": "Asparagales",
                      "family": "Iridaceae",
                      "genus": "Tigridia",
                      "kingdomKey": 170811028,
                      "phylumKey": 170809392,
                      "classKey": 171674679,
                      "orderKey": 171197085,
                      "familyKey": 171859592,
                      "genusKey": 194994862,
                      "scientificName": "Colima (Ravenna) Aar\u00f3n Rodr. & Ortiz-Cat.",
                      "canonicalName": "Ravenna",
                      "authorship": "(Ravenna) Aar\u00f3n Rodr. & Ortiz-Cat.",
                      "publishedIn": "Acta Bot. Mex. 65: 53 (2003)",
                      "nameType": "SCIENTIFIC",
                      "taxonomicStatus": "SYNONYM",
                      "rank": "GENUS",
                      "origin": "SOURCE",
                      "numDescendants": 0,
                      "numOccurrences": 0,
                      "habitats": [],
                      "nomenclaturalStatus": [],
                      "threatStatuses": [],
                      "descriptions": [],
                      "vernacularNames": [],
                      "synonym": true,
                      "higherClassificationMap": {
                        "170811028": "Plantae",
                        "170809392": "Tracheophyta",
                        "171674679": "Liliopsida",
                        "171197085": "Asparagales",
                        "171859592": "Iridaceae",
                        "194994862": "Tigridia",
                        "4086110": "Iridaceae"
                      },
                      "class": "Liliopsida"
                    },
                    {
                      "key": 104712276,
                      "nameKey": 31386177,
                      "datasetKey": "046bbc50-cae2-47ff-aa43-729fbf53f7c5",
                      "nubKey": 9816025,
                      "parentKey": 160251067,
                      "parent": "Iridaceae",
                      "kingdom": "Plantae",
                      "family": "Iridaceae",
                      "genus": "Colima",
                      "kingdomKey": 160449676,
                      "familyKey": 160251067,
                      "genusKey": 104712276,
                      "scientificName": "Colima (Ravenna) Aar\u00f3n Rodr. & Ortiz-Cat., 2003",
                      "canonicalName": "Colima",
                      "authorship": "(Ravenna) Aar\u00f3n Rodr. & Ortiz-Cat., 2003",
                      "publishedIn": "Acta Bot. Mex. 65:53. 2003 [2 Dec 2003]",
                      "nameType": "SCIENTIFIC",
                      "taxonomicStatus": "ACCEPTED",
                      "rank": "GENUS",
                      "origin": "SOURCE",
                      "numDescendants": 2,
                      "numOccurrences": 0,
                      "habitats": [],
                      "nomenclaturalStatus": [],
                      "threatStatuses": [],
                      "descriptions": [],
                      "vernacularNames": [],
                      "synonym": false,
                      "higherClassificationMap": {
                        "160449676": "Plantae",
                        "160251067": "Iridaceae"
                      }
                    },
                    {
                      "key": 182640841,
                      "datasetKey": "57ebbaea-ebc2-443f-8066-60a0c5ea774f",
                      "nubKey": 4078620,
                      "parentKey": 217213730,
                      "parent": "Blechnaceae",
                      "kingdom": "Plantae",
                      "phylum": "Tracheophyta",
                      "order": "Polypodiales",
                      "family": "Blechnaceae",
                      "genus": "Brainea",
                      "kingdomKey": 217213671,
                      "phylumKey": 217213684,
                      "classKey": 217213703,
                      "orderKey": 217213720,
                      "familyKey": 217213730,
                      "genusKey": 182640841,
                      "scientificName": "Brainea J. Sm., Cat. Ferns Gard. Kew",
                      "canonicalName": "Brainea",
                      "authorship": "J. Sm., Cat. Ferns Gard. Kew",
                      "nameType": "SCIENTIFIC",
                      "taxonomicStatus": "ACCEPTED",
                      "rank": "GENUS",
                      "origin": "SOURCE",
                      "numDescendants": 0,
                      "numOccurrences": 0,
                      "habitats": [],
                      "nomenclaturalStatus": [],
                      "threatStatuses": [],
                      "descriptions": [
                        {
                          "description": "T.: Brainia insignis (Hooker) J. Sm. (Bowringia insignis Hooker)"
                        }
                      ],
                      "vernacularNames": [],
                      "synonym": false,
                      "higherClassificationMap": {
                        "217213671": "Plantae",
                        "217213684": "Tracheophyta",
                        "217213703": "Polypodiopsida",
                        "217213720": "Polypodiales",
                        "217213730": "Blechnaceae"
                      },
                      "class": "Polypodiopsida"
                    },
                    {
                      "key": 3734434,
                      "nameKey": 11731381,
                      "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "constituentKey": "046bbc50-cae2-47ff-aa43-729fbf53f7c5",
                      "nubKey": 3734434,
                      "parentKey": 3172047,
                      "parent": "Veronica",
                      "kingdom": "Plantae",
                      "phylum": "Tracheophyta",
                      "order": "Lamiales",
                      "family": "Plantaginaceae",
                      "genus": "Veronica",
                      "species": "Veronica anarrhinum",
                      "kingdomKey": 6,
                      "phylumKey": 7707728,
                      "classKey": 220,
                      "orderKey": 408,
                      "familyKey": 2420,
                      "genusKey": 3172047,
                      "speciesKey": 3734434,
                      "scientificName": "Veronica anarrhinum Cat.",
                      "canonicalName": "Veronica anarrhinum",
                      "authorship": "Cat.",
                      "publishedIn": "Hort. Dresd. ; ex Reichb. Fl. Germ. Excurs. 371.",
                      "nameType": "SCIENTIFIC",
                      "taxonomicStatus": "ACCEPTED",
                      "rank": "SPECIES",
                      "origin": "SOURCE",
                      "numDescendants": 0,
                      "numOccurrences": 0,
                      "habitats": [],
                      "nomenclaturalStatus": [],
                      "threatStatuses": [],
                      "descriptions": [],
                      "vernacularNames": [],
                      "synonym": false,
                      "higherClassificationMap": {
                        "6": "Plantae",
                        "7707728": "Tracheophyta",
                        "220": "Magnoliopsida",
                        "408": "Lamiales",
                        "2420": "Plantaginaceae",
                        "3172047": "Veronica"
                      },
                      "class": "Magnoliopsida"
                    },
                    {
                      "key": 9816025,
                      "nameKey": 18675822,
                      "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "constituentKey": "7ddf754f-d193-4cc9-b351-99906754a03b",
                      "nubKey": 9816025,
                      "parentKey": 7698,
                      "parent": "Iridaceae",
                      "acceptedKey": 2746462,
                      "accepted": "Tigridia Juss.",
                      "kingdom": "Plantae",
                      "phylum": "Tracheophyta",
                      "order": "Asparagales",
                      "family": "Iridaceae",
                      "genus": "Tigridia",
                      "kingdomKey": 6,
                      "phylumKey": 7707728,
                      "classKey": 196,
                      "orderKey": 1169,
                      "familyKey": 7698,
                      "genusKey": 2746462,
                      "scientificName": "Colima gen. Ravenna Aar\u00f3n Rodr. & Ortiz-Cat.",
                      "canonicalName": "Ravenna",
                      "authorship": "Aar\u00f3n Rodr. & Ortiz-Cat.",
                      "publishedIn": "Acta Bot. Mex. 65: 53 (2003)",
                      "nameType": "SCIENTIFIC",
                      "taxonomicStatus": "SYNONYM",
                      "rank": "GENUS",
                      "origin": "SOURCE",
                      "numDescendants": 0,
                      "numOccurrences": 0,
                      "habitats": [],
                      "nomenclaturalStatus": [],
                      "threatStatuses": [],
                      "descriptions": [],
                      "vernacularNames": [],
                      "synonym": true,
                      "higherClassificationMap": {
                        "6": "Plantae",
                        "7707728": "Tracheophyta",
                        "196": "Liliopsida",
                        "1169": "Asparagales",
                        "7698": "Iridaceae",
                        "2746462": "Tigridia"
                      },
                      "class": "Liliopsida"
                    },
                    {
                      "key": 179871671,
                      "datasetKey": "6b6b2923-0a10-4708-b170-5b7c611aceef",
                      "parentKey": 209783913,
                      "parent": "Orthobunyavirus catqueense",
                      "kingdom": "Orthornavirae",
                      "phylum": "Negarnaviricota",
                      "order": "Bunyavirales",
                      "family": "Peribunyaviridae",
                      "genus": "Orthobunyavirus",
                      "species": "Orthobunyavirus catqueense",
                      "kingdomKey": 179695406,
                      "phylumKey": 179749895,
                      "classKey": 179870667,
                      "orderKey": 179870669,
                      "familyKey": 179871036,
                      "genusKey": 179871234,
                      "speciesKey": 209783913,
                      "scientificName": "Cat Que virus",
                      "nameType": "VIRUS",
                      "taxonomicStatus": "ACCEPTED",
                      "origin": "SOURCE",
                      "numDescendants": 0,
                      "numOccurrences": 0,
                      "habitats": [],
                      "nomenclaturalStatus": [],
                      "threatStatuses": [],
                      "descriptions": [],
                      "vernacularNames": [],
                      "synonym": false,
                      "higherClassificationMap": {
                        "179695406": "Orthornavirae",
                        "179749895": "Negarnaviricota",
                        "179870667": "Ellioviricetes",
                        "179870669": "Bunyavirales",
                        "179871036": "Peribunyaviridae",
                        "179871234": "Orthobunyavirus",
                        "209783913": "Orthobunyavirus catqueense"
                      },
                      "class": "Ellioviricetes"
                    },
                    {
                      "key": 179300266,
                      "datasetKey": "6b6b2923-0a10-4708-b170-5b7c611aceef",
                      "parentKey": 179296603,
                      "parent": "unclassified Mycobacterium",
                      "phylum": "Actinomycetota",
                      "order": "Mycobacteriales",
                      "family": "Mycobacteriaceae",
                      "genus": "Mycobacterium",
                      "species": "Mycobacterium cv.",
                      "phylumKey": 179221268,
                      "classKey": 179224737,
                      "orderKey": 179278765,
                      "familyKey": 179295695,
                      "genusKey": 179296598,
                      "speciesKey": 179300266,
                      "scientificName": "Mycobacterium sp. 'cat'",
                      "canonicalName": "Mycobacterium cv.",
                      "nameType": "CULTIVAR",
                      "taxonomicStatus": "ACCEPTED",
                      "rank": "SPECIES",
                      "origin": "SOURCE",
                      "numDescendants": 0,
                      "numOccurrences": 0,
                      "habitats": [],
                      "nomenclaturalStatus": [],
                      "threatStatuses": [],
                      "descriptions": [],
                      "vernacularNames": [],
                      "synonym": false,
                      "higherClassificationMap": {
                        "179221268": "Actinomycetota",
                        "179224737": "Actinomycetes",
                        "179278765": "Mycobacteriales",
                        "179295695": "Mycobacteriaceae",
                        "179296598": "Mycobacterium",
                        "179296603": "unclassified Mycobacterium"
                      },
                      "class": "Actinomycetes"
                    }
                  ],
                  "facets": []
                }
              }
            }
          },
          "default": {
            "description": "Request Error",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                },
                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 875331719</p>\n    <hr>\n    <p>Varnish cache..."
              }
            }
          }
        }
      }
    },
    "/v1/species": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "q",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "cat": {
                "value": "cat"
              }
            }
          },
          {
            "name": "limit",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              }
            }
          },
          {
            "name": "name",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          }
        ],
        "responses": {
          "200": {
            "description": "No description.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema_v1_species"
                },
                "example": {
                  "offset": 0,
                  "limit": 10,
                  "endOfRecords": false,
                  "results": [
                    {
                      "key": 0,
                      "nubKey": 0,
                      "nameKey": 130332213,
                      "taxonID": "gbif:0",
                      "sourceTaxonKey": 0,
                      "kingdom": "incertae sedis",
                      "kingdomKey": 0,
                      "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "scientificName": "incertae sedis",
                      "canonicalName": "incertae sedis",
                      "authorship": "",
                      "nameType": "PLACEHOLDER",
                      "rank": "KINGDOM",
                      "origin": "SOURCE",
                      "taxonomicStatus": "DOUBTFUL",
                      "nomenclaturalStatus": [],
                      "remarks": "",
                      "numDescendants": 3613,
                      "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                      "lastInterpreted": "2023-08-22T23:19:21.731+00:00",
                      "issues": []
                    },
                    {
                      "key": 1,
                      "nubKey": 1,
                      "nameKey": 130188353,
                      "taxonID": "gbif:1",
                      "sourceTaxonKey": 1,
                      "kingdom": "Animalia",
                      "kingdomKey": 1,
                      "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "scientificName": "Animalia",
                      "canonicalName": "Animalia",
                      "vernacularName": "Animals",
                      "authorship": "",
                      "nameType": "SCIENTIFIC",
                      "rank": "KINGDOM",
                      "origin": "SOURCE",
                      "taxonomicStatus": "ACCEPTED",
                      "nomenclaturalStatus": [],
                      "remarks": "",
                      "numDescendants": 2981931,
                      "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                      "lastInterpreted": "2023-08-22T22:11:51.237+00:00",
                      "issues": []
                    },
                    {
                      "key": 2,
                      "nubKey": 2,
                      "nameKey": 130277256,
                      "taxonID": "gbif:2",
                      "sourceTaxonKey": 170809364,
                      "kingdom": "Archaea",
                      "kingdomKey": 2,
                      "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "scientificName": "Archaea",
                      "canonicalName": "Archaea",
                      "vernacularName": "Archaea",
                      "authorship": "",
                      "nameType": "SCIENTIFIC",
                      "rank": "KINGDOM",
                      "origin": "SOURCE",
                      "taxonomicStatus": "ACCEPTED",
                      "nomenclaturalStatus": [],
                      "remarks": "",
                      "numDescendants": 4358,
                      "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                      "lastInterpreted": "2023-08-22T22:52:34.813+00:00",
                      "issues": []
                    },
                    {
                      "key": 3,
                      "nubKey": 3,
                      "nameKey": 130277260,
                      "taxonID": "gbif:3",
                      "sourceTaxonKey": 3,
                      "kingdom": "Bacteria",
                      "kingdomKey": 3,
                      "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "scientificName": "Bacteria",
                      "canonicalName": "Bacteria",
                      "vernacularName": "Bacteria",
                      "authorship": "",
                      "nameType": "SCIENTIFIC",
                      "rank": "KINGDOM",
                      "origin": "SOURCE",
                      "taxonomicStatus": "ACCEPTED",
                      "nomenclaturalStatus": [],
                      "remarks": "",
                      "numDescendants": 67224,
                      "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                      "lastInterpreted": "2023-08-22T22:52:35.110+00:00",
                      "issues": []
                    },
                    {
                      "key": 4,
                      "nubKey": 4,
                      "nameKey": 130277610,
                      "taxonID": "gbif:4",
                      "sourceTaxonKey": 172299416,
                      "kingdom": "Chromista",
                      "kingdomKey": 4,
                      "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "scientificName": "Chromista",
                      "canonicalName": "Chromista",
                      "vernacularName": "Kelp, Diatoms, And Allies",
                      "authorship": "",
                      "nameType": "SCIENTIFIC",
                      "rank": "KINGDOM",
                      "origin": "SOURCE",
                      "taxonomicStatus": "ACCEPTED",
                      "nomenclaturalStatus": [],
                      "remarks": "",
                      "numDescendants": 163420,
                      "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                      "lastInterpreted": "2023-08-22T22:53:01.037+00:00",
                      "issues": []
                    },
                    {
                      "key": 5,
                      "nubKey": 5,
                      "nameKey": 130279178,
                      "taxonID": "gbif:5",
                      "sourceTaxonKey": 5,
                      "kingdom": "Fungi",
                      "kingdomKey": 5,
                      "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "scientificName": "Fungi",
                      "canonicalName": "Fungi",
                      "vernacularName": "Fungi",
                      "authorship": "",
                      "nameType": "SCIENTIFIC",
                      "rank": "KINGDOM",
                      "origin": "SOURCE",
                      "taxonomicStatus": "ACCEPTED",
                      "nomenclaturalStatus": [],
                      "remarks": "",
                      "numDescendants": 486142,
                      "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                      "lastInterpreted": "2023-08-22T22:54:41.047+00:00",
                      "issues": []
                    },
                    {
                      "key": 6,
                      "nubKey": 6,
                      "nameKey": 130293770,
                      "taxonID": "gbif:6",
                      "sourceTaxonKey": 6,
                      "kingdom": "Plantae",
                      "kingdomKey": 6,
                      "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "scientificName": "Plantae",
                      "canonicalName": "Plantae",
                      "vernacularName": "Plants",
                      "authorship": "",
                      "nameType": "SCIENTIFIC",
                      "rank": "KINGDOM",
                      "origin": "SOURCE",
                      "taxonomicStatus": "ACCEPTED",
                      "nomenclaturalStatus": [],
                      "remarks": "",
                      "numDescendants": 716896,
                      "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                      "lastInterpreted": "2023-08-22T23:01:27.670+00:00",
                      "issues": []
                    },
                    {
                      "key": 7,
                      "nubKey": 7,
                      "nameKey": 130322419,
                      "taxonID": "gbif:7",
                      "sourceTaxonKey": 170809337,
                      "kingdom": "Protozoa",
                      "kingdomKey": 7,
                      "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "scientificName": "Protozoa",
                      "canonicalName": "Protozoa",
                      "vernacularName": "protozoans",
                      "authorship": "",
                      "nameType": "SCIENTIFIC",
                      "rank": "KINGDOM",
                      "origin": "SOURCE",
                      "taxonomicStatus": "ACCEPTED",
                      "nomenclaturalStatus": [],
                      "remarks": "",
                      "numDescendants": 9113,
                      "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                      "lastInterpreted": "2023-08-22T23:18:47.242+00:00",
                      "issues": []
                    },
                    {
                      "key": 8,
                      "nubKey": 8,
                      "nameKey": 130323256,
                      "taxonID": "gbif:8",
                      "sourceTaxonKey": 170809368,
                      "kingdom": "Viruses",
                      "kingdomKey": 8,
                      "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "constituentKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "scientificName": "Viruses",
                      "canonicalName": "Viruses",
                      "vernacularName": "Viruses",
                      "authorship": "",
                      "nameType": "SCIENTIFIC",
                      "rank": "KINGDOM",
                      "origin": "SOURCE",
                      "taxonomicStatus": "ACCEPTED",
                      "nomenclaturalStatus": [],
                      "remarks": "",
                      "numDescendants": 19564,
                      "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                      "lastInterpreted": "2023-08-22T23:18:56.817+00:00",
                      "issues": []
                    },
                    {
                      "key": 9,
                      "nubKey": 9,
                      "nameKey": 6689984,
                      "taxonID": "gbif:9",
                      "sourceTaxonKey": 117196334,
                      "kingdom": "Plantae",
                      "phylum": "Marchantiophyta",
                      "kingdomKey": 6,
                      "phylumKey": 9,
                      "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                      "constituentKey": "daacce49-b206-469b-8dc2-2257719f3afa",
                      "parentKey": 6,
                      "parent": "Plantae",
                      "scientificName": "Marchantiophyta",
                      "canonicalName": "Marchantiophyta",
                      "vernacularName": "liverwort",
                      "authorship": "",
                      "nameType": "SCIENTIFIC",
                      "rank": "PHYLUM",
                      "origin": "SOURCE",
                      "taxonomicStatus": "ACCEPTED",
                      "nomenclaturalStatus": [],
                      "remarks": "",
                      "publishedIn": "Crandall-Stotler, B. J., & Stotler, R. E. (2000). Morphology and classification of the Marchantiophyta. In A. J. Shaw & B. Goffinet, Bryophyte Biology (pp. 21\u201370). Cambridge University Press. https://www.tropicos.org/reference/9021946",
                      "numDescendants": 12141,
                      "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                      "lastInterpreted": "2023-08-22T23:18:32.752+00:00",
                      "issues": []
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Request Error",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                },
                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 875331719</p>\n    <hr>\n    <p>Varnish cache..."
              }
            }
          }
        }
      }
    },
    "/v1/species/suggest": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "q",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "cat": {
                "value": "cat"
              },
              "dog": {
                "value": "dog"
              },
              "elephant": {
                "value": "elephant"
              }
            }
          },
          {
            "name": "limit",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              },
              "5": {
                "value": "5"
              },
              "20": {
                "value": "20"
              }
            }
          },
          {
            "name": "strict",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "examples": {
              "true": {
                "value": "true"
              },
              "false": {
                "value": "false"
              }
            }
          },
          {
            "name": "rank",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "species": {
                "value": "species"
              },
              "phylum": {
                "value": "phylum"
              },
              "class": {
                "value": "class"
              },
              "order": {
                "value": "order"
              },
              "family": {
                "value": "family"
              },
              "genus": {
                "value": "genus"
              }
            }
          },
          {
            "name": "datasetKey",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "9a3c3bcf-1e7a-4b49-88e5-1e8e9ae849e8": {
                "value": "9a3c3bcf-1e7a-4b49-88e5-1e8e9ae849e8"
              },
              "50c9509d-22c7-4a22-a47d-8c48425ef4a7": {
                "value": "50c9509d-22c7-4a22-a47d-8c48425ef4a7"
              },
              "9f083e82-aa8f-4c05-a242-aae5a8bc417d": {
                "value": "9f083e82-aa8f-4c05-a242-aae5a8bc417d"
              },
              "ebd6eac3-5a7c-4f38-bb8b-699e4424ecea": {
                "value": "ebd6eac3-5a7c-4f38-bb8b-699e4424ecea"
              }
            }
          },
          {
            "name": "kingdom",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Animalia": {
                "value": "Animalia"
              }
            }
          },
          {
            "name": "phylum",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Chordata": {
                "value": "Chordata"
              }
            }
          },
          {
            "name": "class",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Mammalia": {
                "value": "Mammalia"
              }
            }
          },
          {
            "name": "country",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "GB": {
                "value": "GB"
              },
              "US": {
                "value": "US"
              }
            }
          },
          {
            "name": "year",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2020": {
                "value": "2020"
              },
              "2021": {
                "value": "2021"
              },
              "2022": {
                "value": "2022"
              }
            }
          },
          {
            "name": "nameType",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "SCIENTIFIC": {
                "value": "SCIENTIFIC"
              }
            }
          },
          {
            "name": "nameStatus",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ACCEPTED": {
                "value": "ACCEPTED"
              }
            }
          },
          {
            "name": "sort",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "offset",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              },
              "0": {
                "value": "0"
              }
            }
          },
          {
            "name": "taxonKey",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "249": {
                "value": "249"
              }
            }
          },
          {
            "name": "nameUsage",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "accepted": {
                "value": "accepted"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No description.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema_v1_species_suggest"
                },
                "example": [
                  {
                    "key": 4632438,
                    "nameKey": 2104714,
                    "kingdom": "Animalia",
                    "phylum": "Nematoda",
                    "order": "Rhabditida",
                    "family": "Carnoyidae",
                    "genus": "Cattiena",
                    "kingdomKey": 1,
                    "phylumKey": 5967481,
                    "classKey": 11133537,
                    "orderKey": 440,
                    "familyKey": 4631008,
                    "genusKey": 4632438,
                    "parent": "Carnoyidae",
                    "parentKey": 4631008,
                    "nubKey": 4632438,
                    "scientificName": "Cattiena Hunt & Spiridonov, 2001",
                    "canonicalName": "Cattiena",
                    "rank": "GENUS",
                    "status": "ACCEPTED",
                    "synonym": false,
                    "higherClassificationMap": {
                      "1": "Animalia",
                      "5967481": "Nematoda",
                      "11133537": "Chromadorea",
                      "440": "Rhabditida",
                      "4631008": "Carnoyidae"
                    },
                    "class": "Chromadorea"
                  },
                  {
                    "key": 1877493,
                    "nameKey": 2084993,
                    "kingdom": "Animalia",
                    "phylum": "Arthropoda",
                    "order": "Lepidoptera",
                    "family": "Pyralidae",
                    "genus": "Catadupa",
                    "kingdomKey": 1,
                    "phylumKey": 54,
                    "classKey": 216,
                    "orderKey": 797,
                    "familyKey": 5336,
                    "genusKey": 1877493,
                    "parent": "Pyralidae",
                    "parentKey": 5336,
                    "nubKey": 1877493,
                    "scientificName": "Catadupa Walker, 1863",
                    "canonicalName": "Catadupa",
                    "rank": "GENUS",
                    "status": "ACCEPTED",
                    "synonym": false,
                    "higherClassificationMap": {
                      "1": "Animalia",
                      "54": "Arthropoda",
                      "216": "Insecta",
                      "797": "Lepidoptera",
                      "5336": "Pyralidae"
                    },
                    "class": "Insecta"
                  },
                  {
                    "key": 2910885,
                    "nameKey": 2106524,
                    "kingdom": "Plantae",
                    "phylum": "Tracheophyta",
                    "order": "Gentianales",
                    "family": "Rubiaceae",
                    "genus": "Catunaregam",
                    "kingdomKey": 6,
                    "phylumKey": 7707728,
                    "classKey": 220,
                    "orderKey": 412,
                    "familyKey": 8798,
                    "genusKey": 2910885,
                    "parent": "Rubiaceae",
                    "parentKey": 8798,
                    "nubKey": 2910885,
                    "scientificName": "Catunaregam Wolf",
                    "canonicalName": "Catunaregam",
                    "rank": "GENUS",
                    "status": "ACCEPTED",
                    "synonym": false,
                    "higherClassificationMap": {
                      "6": "Plantae",
                      "7707728": "Tracheophyta",
                      "220": "Magnoliopsida",
                      "412": "Gentianales",
                      "8798": "Rubiaceae"
                    },
                    "class": "Magnoliopsida"
                  },
                  {
                    "key": 1220231,
                    "nameKey": 58530614,
                    "kingdom": "Animalia",
                    "phylum": "Arthropoda",
                    "order": "Coleoptera",
                    "family": "Curculionidae",
                    "genus": "Catapastus",
                    "kingdomKey": 1,
                    "phylumKey": 54,
                    "classKey": 216,
                    "orderKey": 1470,
                    "familyKey": 4239,
                    "genusKey": 1220231,
                    "parent": "Curculionidae",
                    "parentKey": 4239,
                    "nubKey": 1220231,
                    "scientificName": "Catapastus T.L.Casey, 1892",
                    "canonicalName": "Catapastus",
                    "rank": "GENUS",
                    "status": "ACCEPTED",
                    "synonym": false,
                    "higherClassificationMap": {
                      "1": "Animalia",
                      "54": "Arthropoda",
                      "216": "Insecta",
                      "1470": "Coleoptera",
                      "4239": "Curculionidae"
                    },
                    "class": "Insecta"
                  },
                  {
                    "key": 3226795,
                    "nameKey": 2100774,
                    "kingdom": "Bacteria",
                    "phylum": "Firmicutes_A",
                    "order": "Lachnospirales",
                    "family": "Lachnospiraceae",
                    "genus": "Catonella",
                    "kingdomKey": 3,
                    "phylumKey": 11371390,
                    "classKey": 304,
                    "orderKey": 10674005,
                    "familyKey": 4713,
                    "genusKey": 3226795,
                    "parent": "Lachnospiraceae",
                    "parentKey": 4713,
                    "nubKey": 3226795,
                    "scientificName": "Catonella Moore & Moore, 1994",
                    "canonicalName": "Catonella",
                    "rank": "GENUS",
                    "status": "ACCEPTED",
                    "synonym": false,
                    "higherClassificationMap": {
                      "3": "Bacteria",
                      "11371390": "Firmicutes_A",
                      "304": "Clostridia",
                      "10674005": "Lachnospirales",
                      "4713": "Lachnospiraceae"
                    },
                    "class": "Clostridia"
                  },
                  {
                    "key": 3480938,
                    "nameKey": 17195160,
                    "kingdom": "Fungi",
                    "phylum": "Ascomycota",
                    "genus": "Catenulaster",
                    "kingdomKey": 5,
                    "phylumKey": 95,
                    "genusKey": 3480938,
                    "parent": "Ascomycota",
                    "parentKey": 95,
                    "nubKey": 3480938,
                    "scientificName": "Catenulaster Bat. & C.A.A.Costa",
                    "canonicalName": "Catenulaster",
                    "rank": "GENUS",
                    "status": "ACCEPTED",
                    "synonym": false,
                    "higherClassificationMap": {
                      "5": "Fungi",
                      "95": "Ascomycota"
                    }
                  },
                  {
                    "key": 1781623,
                    "nameKey": 2084903,
                    "kingdom": "Animalia",
                    "phylum": "Arthropoda",
                    "order": "Lepidoptera",
                    "family": "Erebidae",
                    "genus": "Catadoides",
                    "kingdomKey": 1,
                    "phylumKey": 54,
                    "classKey": 216,
                    "orderKey": 797,
                    "familyKey": 4532185,
                    "genusKey": 1781623,
                    "parent": "Erebidae",
                    "parentKey": 4532185,
                    "nubKey": 1781623,
                    "scientificName": "Catadoides Bethune-Baker, 1908",
                    "canonicalName": "Catadoides",
                    "rank": "GENUS",
                    "status": "ACCEPTED",
                    "synonym": false,
                    "higherClassificationMap": {
                      "1": "Animalia",
                      "54": "Arthropoda",
                      "216": "Insecta",
                      "797": "Lepidoptera",
                      "4532185": "Erebidae"
                    },
                    "class": "Insecta"
                  },
                  {
                    "key": 2589621,
                    "nameKey": 2093576,
                    "kingdom": "Fungi",
                    "phylum": "Ascomycota",
                    "genus": "Catenophora",
                    "kingdomKey": 5,
                    "phylumKey": 95,
                    "genusKey": 2589621,
                    "parent": "Ascomycota",
                    "parentKey": 95,
                    "nubKey": 2589621,
                    "scientificName": "Catenophora Luttrell, 1940",
                    "canonicalName": "Catenophora",
                    "rank": "GENUS",
                    "status": "ACCEPTED",
                    "synonym": false,
                    "higherClassificationMap": {
                      "5": "Fungi",
                      "95": "Ascomycota"
                    }
                  },
                  {
                    "key": 8584154,
                    "nameKey": 13319390,
                    "kingdom": "Animalia",
                    "phylum": "Arthropoda",
                    "order": "Hymenoptera",
                    "family": "Xyelidae",
                    "genus": "Cathayxyela",
                    "kingdomKey": 1,
                    "phylumKey": 54,
                    "classKey": 216,
                    "orderKey": 1457,
                    "familyKey": 7921,
                    "genusKey": 8584154,
                    "parent": "Xyelidae",
                    "parentKey": 7921,
                    "nubKey": 8584154,
                    "scientificName": "Cathayxyela Wang, Rasnitsyn & Ren, 2014",
                    "canonicalName": "Cathayxyela",
                    "rank": "GENUS",
                    "status": "ACCEPTED",
                    "synonym": false,
                    "higherClassificationMap": {
                      "1": "Animalia",
                      "54": "Arthropoda",
                      "216": "Insecta",
                      "1457": "Hymenoptera",
                      "7921": "Xyelidae"
                    },
                    "class": "Insecta"
                  },
                  {
                    "key": 1855312,
                    "nameKey": 2092501,
                    "kingdom": "Animalia",
                    "phylum": "Arthropoda",
                    "order": "Lepidoptera",
                    "family": "Tineidae",
                    "genus": "Cataxipha",
                    "kingdomKey": 1,
                    "phylumKey": 54,
                    "classKey": 216,
                    "orderKey": 797,
                    "familyKey": 9412,
                    "genusKey": 1855312,
                    "parent": "Tineidae",
                    "parentKey": 9412,
                    "nubKey": 1855312,
                    "scientificName": "Cataxipha Gozm\u00e1ny, 1965",
                    "canonicalName": "Cataxipha",
                    "rank": "GENUS",
                    "status": "ACCEPTED",
                    "synonym": false,
                    "higherClassificationMap": {
                      "1": "Animalia",
                      "54": "Arthropoda",
                      "216": "Insecta",
                      "797": "Lepidoptera",
                      "9412": "Tineidae"
                    },
                    "class": "Insecta"
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Request Error",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                },
                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 875331719</p>\n    <hr>\n    <p>Varnish cache..."
              }
            }
          }
        }
      }
    },
    "/v1/species/match": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "q",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "cat": {
                "value": "cat"
              }
            }
          },
          {
            "name": "limit",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              },
              "100": {
                "value": "100"
              }
            }
          },
          {
            "name": "offset",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "0": {
                "value": "0"
              },
              "50": {
                "value": "50"
              }
            }
          },
          {
            "name": "rank",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "species": {
                "value": "species"
              }
            }
          },
          {
            "name": "nameType",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "SCIENTIFIC": {
                "value": "SCIENTIFIC"
              },
              "CANONICAL": {
                "value": "CANONICAL"
              },
              "VARIANT": {
                "value": "VARIANT"
              },
              "VERNACULAR": {
                "value": "VERNACULAR"
              },
              "SYNONYM": {
                "value": "SYNONYM"
              },
              "BASIONYM": {
                "value": "BASIONYM"
              },
              "HOMOTYPIC_SYNONYM": {
                "value": "HOMOTYPIC_SYNONYM"
              },
              "HETEROTYPIC_SYNONYM": {
                "value": "HETEROTYPIC_SYNONYM"
              },
              "AUTONYM": {
                "value": "AUTONYM"
              },
              "ALTERNATIVE": {
                "value": "ALTERNATIVE"
              }
            }
          },
          {
            "name": "datasetKey",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c": {
                "value": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"
              }
            }
          },
          {
            "name": "country",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "US": {
                "value": "US"
              }
            }
          },
          {
            "name": "year",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2021": {
                "value": "2021"
              }
            }
          },
          {
            "name": "strict",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "examples": {
              "true": {
                "value": "true"
              },
              "false": {
                "value": "false"
              }
            }
          },
          {
            "name": "sort",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "phylum",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Chordata": {
                "value": "Chordata"
              }
            }
          },
          {
            "name": "class",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Mammalia": {
                "value": "Mammalia"
              }
            }
          },
          {
            "name": "order",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Carnivora": {
                "value": "Carnivora"
              }
            }
          },
          {
            "name": "family",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Felidae": {
                "value": "Felidae"
              }
            }
          },
          {
            "name": "genus",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Panthera": {
                "value": "Panthera"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No description.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema_v1_species_match"
                },
                "example": {
                  "confidence": 100,
                  "note": "No name given",
                  "matchType": "NONE",
                  "synonym": false
                }
              }
            }
          },
          "default": {
            "description": "Request Error",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                },
                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 875331719</p>\n    <hr>\n    <p>Varnish cache..."
              }
            }
          }
        }
      }
    },
    "/v1/species/{id}": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "id",
            "description": "ID path parameter for the /v1/species/{id} route.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "q",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "cat": {
                "value": "cat"
              }
            }
          },
          {
            "name": "limit",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              },
              "5": {
                "value": "5"
              }
            }
          },
          {
            "name": "strict",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "examples": {
              "true": {
                "value": "true"
              },
              "false": {
                "value": "false"
              }
            }
          },
          {
            "name": "sort",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "year",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2022": {
                "value": "2022"
              }
            }
          },
          {
            "name": "tag",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Fungi": {
                "value": "Fungi"
              }
            }
          },
          {
            "name": "offset",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              }
            }
          },
          {
            "name": "locale",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "en": {
                "value": "en"
              }
            }
          },
          {
            "name": "datasetKey",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ebd6eac3-5a7c-4f38-bb8b-699e4424ecea": {
                "value": "ebd6eac3-5a7c-4f38-bb8b-699e4424ecea"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No description.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema_v1_species_id"
                },
                "example": {
                  "key": 70,
                  "nubKey": 70,
                  "nameKey": 5006363,
                  "taxonID": "gbif:70",
                  "sourceTaxonKey": 172307346,
                  "kingdom": "Chromista",
                  "phylum": "Haptophyta",
                  "kingdomKey": 4,
                  "phylumKey": 70,
                  "datasetKey": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c",
                  "constituentKey": "7ea21580-4f06-469d-995b-3f713fdcc37c",
                  "parentKey": 4,
                  "parent": "Chromista",
                  "scientificName": "Haptophyta",
                  "canonicalName": "Haptophyta",
                  "vernacularName": "haptophyte alga",
                  "authorship": "",
                  "nameType": "SCIENTIFIC",
                  "rank": "PHYLUM",
                  "origin": "SOURCE",
                  "taxonomicStatus": "ACCEPTED",
                  "nomenclaturalStatus": [],
                  "remarks": "",
                  "numDescendants": 1850,
                  "lastCrawled": "2023-08-22T23:20:59.545+00:00",
                  "lastInterpreted": "2023-08-22T22:54:34.849+00:00",
                  "issues": []
                }
              }
            }
          },
          "default": {
            "description": "Request Error",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                },
                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 875331719</p>\n    <hr>\n    <p>Varnish cache..."
              }
            }
          }
        }
      }
    },
    "/v1/species/lookup": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "q",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "cat": {
                "value": "cat"
              }
            }
          },
          {
            "name": "strict",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "examples": {
              "true": {
                "value": "true"
              },
              "false": {
                "value": "false"
              }
            }
          },
          {
            "name": "limit",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              }
            }
          },
          {
            "name": "datasetKey",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ebd6eac3-5a7c-4f38-bb8b-699e4424ecea": {
                "value": "ebd6eac3-5a7c-4f38-bb8b-699e4424ecea"
              }
            }
          },
          {
            "name": "year",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2022": {
                "value": "2022"
              }
            }
          },
          {
            "name": "sort",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          }
        ],
        "responses": {
          "200": {
            "description": "No description.",
            "content": {
              "": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema_v1_species_lookup"
                },
                "example": "< DATA>"
              }
            }
          },
          "default": {
            "description": "Request Error",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                },
                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 908624198</p>\n    <hr>\n    <p>Varnish cache..."
              }
            }
          }
        }
      }
    },
    "/v1/species/{id}/children": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "id",
            "description": "ID path parameter for the /v1/species/{id}/children route.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "limit",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              },
              "5": {
                "value": "5"
              },
              "100": {
                "value": "100"
              }
            }
          },
          {
            "name": "offset",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              },
              "20": {
                "value": "20"
              },
              "50": {
                "value": "50"
              }
            }
          },
          {
            "name": "rank",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "species": {
                "value": "species"
              }
            }
          },
          {
            "name": "status",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "accepted": {
                "value": "accepted"
              }
            }
          },
          {
            "name": "nameType",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "scientific": {
                "value": "scientific"
              },
              "SCIENTIFIC": {
                "value": "SCIENTIFIC"
              }
            }
          },
          {
            "name": "nameUsage",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "accepted": {
                "value": "accepted"
              },
              "ACCEPTED": {
                "value": "ACCEPTED"
              },
              "binomial": {
                "value": "binomial"
              }
            }
          },
          {
            "name": "name",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Canis%20lupus": {
                "value": "Canis%20lupus"
              },
              "Quercus": {
                "value": "Quercus"
              }
            }
          },
          {
            "name": "year",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2000": {
                "value": "2000"
              }
            }
          },
          {
            "name": "datasetKey",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "50c9509d-22c7-4a22-a47d-8c48425ef4a7": {
                "value": "50c9509d-22c7-4a22-a47d-8c48425ef4a7"
              },
              "7e3803ec-f3b8-4d9d-9c63-440c7e1b42c9": {
                "value": "7e3803ec-f3b8-4d9d-9c63-440c7e1b42c9"
              }
            }
          },
          {
            "name": "higherTaxonKey",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "6": {
                "value": "6"
              }
            }
          },
          {
            "name": "nameStatus",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "SYNONYM": {
                "value": "SYNONYM"
              }
            }
          },
          {
            "name": "nameField",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "canonical": {
                "value": "canonical"
              }
            }
          },
          {
            "name": "language",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "en": {
                "value": "en"
              }
            }
          },
          {
            "name": "nameUsageMatch",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "exact": {
                "value": "exact"
              }
            }
          },
          {
            "name": "parentKey",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "89": {
                "value": "89"
              }
            }
          },
          {
            "name": "strict",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "examples": {
              "true": {
                "value": "true"
              },
              "false": {
                "value": "false"
              }
            }
          },
          {
            "name": "fields",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "name,rank": {
                "value": "name,rank"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No description.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema_v1_species_id_children"
                },
                "example": {
                  "offset": 0,
                  "limit": 20,
                  "endOfRecords": true,
                  "results": []
                }
              }
            }
          },
          "default": {
            "description": "Request Error",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                },
                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 845614825</p>\n    <hr>\n    <p>Varnish cache..."
              }
            }
          }
        }
      }
    },
    "/v1/species/{id}/synonyms": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "id",
            "description": "ID path parameter for the /v1/species/{id}/synonyms route.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "limit",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              },
              "5": {
                "value": "5"
              }
            }
          },
          {
            "name": "offset",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              }
            }
          },
          {
            "name": "q",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "plant": {
                "value": "plant"
              }
            }
          },
          {
            "name": "rank",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "species": {
                "value": "species"
              }
            }
          },
          {
            "name": "nameType",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "scientific": {
                "value": "scientific"
              }
            }
          },
          {
            "name": "year",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2010": {
                "value": "2010"
              },
              "2021": {
                "value": "2021"
              }
            }
          },
          {
            "name": "datasetKey",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c": {
                "value": "d7dddbf4-2cf0-4f39-9b2a-bb099caae36c"
              }
            }
          },
          {
            "name": "locale",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "fr": {
                "value": "fr"
              }
            }
          },
          {
            "name": "nameStatus",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "accepted": {
                "value": "accepted"
              }
            }
          },
          {
            "name": "taxonKey",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "12345": {
                "value": "12345"
              }
            }
          },
          {
            "name": "nameUsageMatch",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "exact": {
                "value": "exact"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No description.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema_v1_species_id_synonyms"
                },
                "example": {
                  "offset": 0,
                  "limit": 20,
                  "endOfRecords": true,
                  "results": []
                }
              }
            }
          },
          "default": {
            "description": "Request Error",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                },
                "example": "<!DOCTYPE html>\n<html>\n  <head>\n    <title>404 Not Found. See https://www.gbif.org/developer for API documentation.</title>\n  </head>\n  <body>\n    <h1>Error 404 Not Found. See https://www.gbif.org/developer for API documentation.</h1>\n    <p>Not Found. See https://www.gbif.org/developer for API documentation.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 845614825</p>\n    <hr>\n    <p>Varnish cache..."
              }
            }
          }
        }
      }
    },
    "/v1/species/{id}/references": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "id",
            "description": "ID path parameter for the /v1/species/{id}/references route.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "limit",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              },
              "50": {
                "value": "50"
              },
              "5": {
                "value": "5"
              }
            }
          },
          {
            "name": "offset",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              },
              "0": {
                "value": "0"
              }
            }
          },
          {
            "name": "q",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "taxonomy": {
                "value": "taxonomy"
              },
              "plantae": {
                "value": "plantae"
              }
            }
          },
          {
[...]
