{
  "openapi": "3.1.0",
  "info": {
    "title": "Balldontlie API",
    "description": "**Disclaimer** - This *OpenAPI* specification is generated with the tool *RESTSpecIT*, which leverages *GPT* Large Language Models. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is complicated to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs, demonstrating an average route and parameter discovery rate of over x%. Additionally, the tool is capable of discovering undocumented features of APIs, which was verified with x of the tested APIs.<br><br>**API Description** - The Balldontlie API is a basketball statistics API that provides data on players, teams, games, and more.",
    "termsOfService": "",
    "contact": {
      "name": "Balldontlie API Contact",
      "url": "https://www.balldontlie.io/#contact",
      "email": ""
    },
    "license": {
      "name": "MIT License",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://www.balldontlie.io/api",
      "description": "Production Server of the Balldontlie API.",
      "x-base-routes": 2
    }
  ],
  "externalDocs": {
    "url": "https://www.balldontlie.io",
    "description": "Find more about the Balldontlie API here:"
  },
  "paths": {
    "/v1/players": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "search",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Stephen%20Curry": {
                "value": "Stephen%20Curry"
              },
              "LeBron+James": {
                "value": "LeBron+James"
              },
              "jordan": {
                "value": "jordan"
              },
              "lebron": {
                "value": "lebron"
              }
            }
          },
          {
            "name": "per_page",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "20": {
                "value": "20"
              }
            }
          },
          {
            "name": "sort",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "points": {
                "value": "points"
              }
            }
          },
          {
            "name": "team_ids[]",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2": {
                "value": "2"
              }
            }
          },
          {
            "name": "team_ids",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          }
        ],
        "responses": {
          "200": {
            "description": "No description.",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema_api_v1_players"
                },
                "example": {
                  "data": [
                    {
                      "id": 115,
                      "first_name": "Stephen",
                      "height_feet": 6,
                      "height_inches": 3,
                      "last_name": "Curry",
                      "position": "G",
                      "team": {
                        "id": 10,
                        "abbreviation": "GSW",
                        "city": "Golden State",
                        "conference": "West",
                        "division": "Pacific",
                        "full_name": "Golden State Warriors",
                        "name": "Warriors"
                      },
                      "weight_pounds": 190
                    }
                  ],
                  "meta": {
                    "total_pages": 1,
                    "current_page": 1,
                    "next_page": null,
                    "per_page": 25,
                    "total_count": 1
                  }
                }
              }
            }
          },
          "default": {
            "description": "Request Error",
            "content": {
              "text/html; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                },
                "example": "<text/html; charset=UTF-8 DATA>"
              }
            }
          }
        }
      }
    },
    "/v1/players/{id}": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "id",
            "description": "ID path parameter for the /v1/players/{id} route.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Stephen%20Curry": {
                "value": "Stephen%20Curry"
              },
              "Curry": {
                "value": "Curry"
              }
            }
          },
          {
            "name": "per_page",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "20": {
                "value": "20"
              }
            }
          },
          {
            "name": "page",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2": {
                "value": "2"
              }
            }
          },
          {
            "name": "seasons[]",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2019": {
                "value": "2019"
              }
            }
          },
          {
            "name": "team_ids[]",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2": {
                "value": "2"
              },
              "5": {
                "value": "5"
              }
            }
          },
          {
            "name": "sort",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "desc": {
                "value": "desc"
              },
              "points": {
                "value": "points"
              }
            }
          },
          {
            "name": "fields[]",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "id": {
                "value": "id"
              },
              "first_name": {
                "value": "first_name"
              },
              "last_name": {
                "value": "last_name"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No description.",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema_api_v1_players_id"
                },
                "example": {
                  "id": 44,
                  "first_name": "Davis",
                  "height_feet": 6,
                  "height_inches": 10,
                  "last_name": "Bertans",
                  "position": "F",
                  "team": {
                    "id": 21,
                    "abbreviation": "OKC",
                    "city": "Oklahoma City",
                    "conference": "West",
                    "division": "Northwest",
                    "full_name": "Oklahoma City Thunder",
                    "name": "Thunder"
                  },
                  "weight_pounds": 225
                }
              }
            }
          },
          "default": {
            "description": "Request Error",
            "content": {
              "text/html; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                },
                "example": "<text/html; charset=UTF-8 DATA>"
              }
            }
          }
        }
      }
    },
    "/v1/teams": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "search",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Stephen%20Curry": {
                "value": "Stephen%20Curry"
              }
            }
          },
          {
            "name": "per_page",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "10": {
                "value": "10"
              },
              "20": {
                "value": "20"
              },
              "25": {
                "value": "25"
              }
            }
          },
          {
            "name": "page",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2": {
                "value": "2"
              }
            }
          },
          {
            "name": "sort",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "points": {
                "value": "points"
              }
            }
          },
          {
            "name": "conference",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "east": {
                "value": "east"
              }
            }
          },
          {
            "name": "division",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "atlantic": {
                "value": "atlantic"
              }
            }
          },
          {
            "name": "city",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "toronto": {
                "value": "toronto"
              }
            }
          },
          {
            "name": "abbreviation",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "LAL": {
                "value": "LAL"
              }
            }
          },
          {
            "name": "full_name",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Chicago+Bulls": {
                "value": "Chicago+Bulls"
              }
            }
          },
          {
            "name": "name",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Warriors": {
                "value": "Warriors"
              }
            }
          },
          {
            "name": "year_founded",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "1995": {
                "value": "1995"
              }
            }
          },
          {
            "name": "venue",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Staples+Center": {
                "value": "Staples+Center"
              }
            }
          },
          {
            "name": "team_ids[]",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2": {
                "value": "2"
              }
            }
          },
          {
            "name": "team_ids",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          }
        ],
        "responses": {
          "200": {
            "description": "No description.",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema_api_v1_teams"
                },
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "abbreviation": "ATL",
                      "city": "Atlanta",
                      "conference": "East",
                      "division": "Southeast",
                      "full_name": "Atlanta Hawks",
                      "name": "Hawks"
                    },
                    {
                      "id": 2,
                      "abbreviation": "BOS",
                      "city": "Boston",
                      "conference": "East",
                      "division": "Atlantic",
                      "full_name": "Boston Celtics",
                      "name": "Celtics"
                    },
                    {
                      "id": 3,
                      "abbreviation": "BKN",
                      "city": "Brooklyn",
                      "conference": "East",
                      "division": "Atlantic",
                      "full_name": "Brooklyn Nets",
                      "name": "Nets"
                    },
                    {
                      "id": 4,
                      "abbreviation": "CHA",
                      "city": "Charlotte",
                      "conference": "East",
                      "division": "Southeast",
                      "full_name": "Charlotte Hornets",
                      "name": "Hornets"
                    },
                    {
                      "id": 5,
                      "abbreviation": "CHI",
                      "city": "Chicago",
                      "conference": "East",
                      "division": "Central",
                      "full_name": "Chicago Bulls",
                      "name": "Bulls"
                    },
                    {
                      "id": 6,
                      "abbreviation": "CLE",
                      "city": "Cleveland",
                      "conference": "East",
                      "division": "Central",
                      "full_name": "Cleveland Cavaliers",
                      "name": "Cavaliers"
                    },
                    {
                      "id": 7,
                      "abbreviation": "DAL",
                      "city": "Dallas",
                      "conference": "West",
                      "division": "Southwest",
                      "full_name": "Dallas Mavericks",
                      "name": "Mavericks"
                    },
                    {
                      "id": 8,
                      "abbreviation": "DEN",
                      "city": "Denver",
                      "conference": "West",
                      "division": "Northwest",
                      "full_name": "Denver Nuggets",
                      "name": "Nuggets"
                    },
                    {
                      "id": 9,
                      "abbreviation": "DET",
                      "city": "Detroit",
                      "conference": "East",
                      "division": "Central",
                      "full_name": "Detroit Pistons",
                      "name": "Pistons"
                    },
                    {
                      "id": 10,
                      "abbreviation": "GSW",
                      "city": "Golden State",
                      "conference": "West",
                      "division": "Pacific",
                      "full_name": "Golden State Warriors",
                      "name": "Warriors"
                    },
                    {
                      "id": 11,
                      "abbreviation": "HOU",
                      "city": "Houston",
                      "conference": "West",
                      "division": "Southwest",
                      "full_name": "Houston Rockets",
                      "name": "Rockets"
                    },
                    {
                      "id": 12,
                      "abbreviation": "IND",
                      "city": "Indiana",
                      "conference": "East",
                      "division": "Central",
                      "full_name": "Indiana Pacers",
                      "name": "Pacers"
                    },
                    {
                      "id": 13,
                      "abbreviation": "LAC",
                      "city": "LA",
                      "conference": "West",
                      "division": "Pacific",
                      "full_name": "LA Clippers",
                      "name": "Clippers"
                    },
                    {
                      "id": 14,
                      "abbreviation": "LAL",
                      "city": "Los Angeles",
                      "conference": "West",
                      "division": "Pacific",
                      "full_name": "Los Angeles Lakers",
                      "name": "Lakers"
                    },
                    {
                      "id": 15,
                      "abbreviation": "MEM",
                      "city": "Memphis",
                      "conference": "West",
                      "division": "Southwest",
                      "full_name": "Memphis Grizzlies",
                      "name": "Grizzlies"
                    },
                    {
                      "id": 16,
                      "abbreviation": "MIA",
                      "city": "Miami",
                      "conference": "East",
                      "division": "Southeast",
                      "full_name": "Miami Heat",
                      "name": "Heat"
                    },
                    {
                      "id": 17,
                      "abbreviation": "MIL",
                      "city": "Milwaukee",
                      "conference": "East",
                      "division": "Central",
                      "full_name": "Milwaukee Bucks",
                      "name": "Bucks"
                    },
                    {
                      "id": 18,
                      "abbreviation": "MIN",
                      "city": "Minnesota",
                      "conference": "West",
                      "division": "Northwest",
                      "full_name": "Minnesota Timberwolves",
                      "name": "Timberwolves"
                    },
                    {
                      "id": 19,
                      "abbreviation": "NOP",
                      "city": "New Orleans",
                      "conference": "West",
                      "division": "Southwest",
                      "full_name": "New Orleans Pelicans",
                      "name": "Pelicans"
                    },
                    {
                      "id": 20,
                      "abbreviation": "NYK",
                      "city": "New York",
                      "conference": "East",
                      "division": "Atlantic",
                      "full_name": "New York Knicks",
                      "name": "Knicks"
                    },
                    {
                      "id": 21,
                      "abbreviation": "OKC",
                      "city": "Oklahoma City",
                      "conference": "West",
                      "division": "Northwest",
                      "full_name": "Oklahoma City Thunder",
                      "name": "Thunder"
                    },
                    {
                      "id": 22,
                      "abbreviation": "ORL",
                      "city": "Orlando",
                      "conference": "East",
                      "division": "Southeast",
                      "full_name": "Orlando Magic",
                      "name": "Magic"
                    },
                    {
                      "id": 23,
                      "abbreviation": "PHI",
                      "city": "Philadelphia",
                      "conference": "East",
                      "division": "Atlantic",
                      "full_name": "Philadelphia 76ers",
                      "name": "76ers"
                    },
                    {
                      "id": 24,
                      "abbreviation": "PHX",
                      "city": "Phoenix",
                      "conference": "West",
                      "division": "Pacific",
                      "full_name": "Phoenix Suns",
                      "name": "Suns"
                    },
                    {
                      "id": 25,
                      "abbreviation": "POR",
                      "city": "Portland",
                      "conference": "West",
                      "division": "Northwest",
                      "full_name": "Portland Trail Blazers",
                      "name": "Trail Blazers"
                    },
                    {
                      "id": 26,
                      "abbreviation": "SAC",
                      "city": "Sacramento",
                      "conference": "West",
                      "division": "Pacific",
                      "full_name": "Sacramento Kings",
                      "name": "Kings"
                    },
                    {
                      "id": 27,
                      "abbreviation": "SAS",
                      "city": "San Antonio",
                      "conference": "West",
                      "division": "Southwest",
                      "full_name": "San Antonio Spurs",
                      "name": "Spurs"
                    },
                    {
                      "id": 28,
                      "abbreviation": "TOR",
                      "city": "Toronto",
                      "conference": "East",
                      "division": "Atlantic",
                      "full_name": "Toronto Raptors",
                      "name": "Raptors"
                    },
                    {
                      "id": 29,
                      "abbreviation": "UTA",
                      "city": "Utah",
                      "conference": "West",
                      "division": "Northwest",
                      "full_name": "Utah Jazz",
                      "name": "Jazz"
                    },
                    {
                      "id": 30,
                      "abbreviation": "WAS",
                      "city": "Washington",
                      "conference": "East",
                      "division": "Southeast",
                      "full_name": "Washington Wizards",
                      "name": "Wizards"
                    }
                  ],
                  "meta": {
                    "total_pages": 2,
                    "current_page": 1,
                    "next_page": 2,
                    "per_page": 30,
                    "total_count": 45
                  }
                }
              }
            }
          },
          "default": {
            "description": "Request Error",
            "content": {
              "text/html; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                },
                "example": "<text/html; charset=UTF-8 DATA>"
              }
            }
          }
        }
      }
    },
    "/v1/games": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "search",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Stephen%20Curry": {
                "value": "Stephen%20Curry"
              },
              "LeBron": {
                "value": "LeBron"
              }
            }
          },
          {
            "name": "team_ids[]",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "5": {
                "value": "5"
              },
              "1": {
                "value": "1"
              },
              "2": {
                "value": "2"
              },
              "1,2,3": {
                "value": "1,2,3"
              }
            }
          },
          {
            "name": "seasons[]",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2021": {
                "value": "2021"
              },
              "2019": {
                "value": "2019"
              },
              "2020": {
                "value": "2020"
              }
            }
          },
          {
            "name": "start_date",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "2022-01-01": {
                "value": "2022-01-01"
              },
              "2020-12-01": {
                "value": "2020-12-01"
              }
            }
          },
          {
            "name": "end_date",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "2022-01-31": {
                "value": "2022-01-31"
              },
              "2021-02-28": {
                "value": "2021-02-28"
              },
              "2022-12-31": {
                "value": "2022-12-31"
              }
            }
          },
          {
            "name": "seasons",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2020": {
                "value": "2020"
              },
              "2019": {
                "value": "2019"
              }
            }
          },
          {
            "name": "dates",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "2021-01-01": {
                "value": "2021-01-01"
              }
            }
          },
          {
            "name": "teams[]",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "1": {
                "value": "1"
              }
            }
          },
          {
            "name": "players[]",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "23": {
                "value": "23"
              }
            }
          },
          {
            "name": "per_page",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "50": {
                "value": "50"
              }
            }
          },
          {
            "name": "page",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2": {
                "value": "2"
              }
            }
          },
          {
            "name": "sort",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "desc": {
                "value": "desc"
              },
              "points": {
                "value": "points"
              }
            }
          },
          {
            "name": "team_ids",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1,2,3": {
                "value": "1,2,3"
              }
            }
          },
          {
            "name": "player_ids",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "12345": {
                "value": "12345"
              }
            }
          },
          {
            "name": "postseason",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "examples": {
              "true": {
                "value": "true"
              },
              "false": {
                "value": "false"
              }
            }
          },
          {
            "name": "venue",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "home": {
                "value": "home"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No description.",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema_api_v1_games"
                },
                "example": {
                  "data": [
                    {
                      "id": 47179,
                      "date": "2019-01-30T00:00:00.000Z",
                      "home_team": {
                        "id": 2,
                        "abbreviation": "BOS",
                        "city": "Boston",
                        "conference": "East",
                        "division": "Atlantic",
                        "full_name": "Boston Celtics",
                        "name": "Celtics"
                      },
                      "home_team_score": 126,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": " ",
                      "visitor_team": {
                        "id": 4,
                        "abbreviation": "CHA",
                        "city": "Charlotte",
                        "conference": "East",
                        "division": "Southeast",
                        "full_name": "Charlotte Hornets",
                        "name": "Hornets"
                      },
                      "visitor_team_score": 94
                    },
                    {
                      "id": 48751,
                      "date": "2019-02-09T00:00:00.000Z",
                      "home_team": {
                        "id": 2,
                        "abbreviation": "BOS",
                        "city": "Boston",
                        "conference": "East",
                        "division": "Atlantic",
                        "full_name": "Boston Celtics",
                        "name": "Celtics"
                      },
                      "home_team_score": 112,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 13,
                        "abbreviation": "LAC",
                        "city": "LA",
                        "conference": "West",
                        "division": "Pacific",
                        "full_name": "LA Clippers",
                        "name": "Clippers"
                      },
                      "visitor_team_score": 123
                    },
                    {
                      "id": 48739,
                      "date": "2019-02-08T00:00:00.000Z",
                      "home_team": {
                        "id": 23,
                        "abbreviation": "PHI",
                        "city": "Philadelphia",
                        "conference": "East",
                        "division": "Atlantic",
                        "full_name": "Philadelphia 76ers",
                        "name": "76ers"
                      },
                      "home_team_score": 117,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 8,
                        "abbreviation": "DEN",
                        "city": "Denver",
                        "conference": "West",
                        "division": "Northwest",
                        "full_name": "Denver Nuggets",
                        "name": "Nuggets"
                      },
                      "visitor_team_score": 110
                    },
                    {
                      "id": 48740,
                      "date": "2019-02-08T00:00:00.000Z",
                      "home_team": {
                        "id": 30,
                        "abbreviation": "WAS",
                        "city": "Washington",
                        "conference": "East",
                        "division": "Southeast",
                        "full_name": "Washington Wizards",
                        "name": "Wizards"
                      },
                      "home_team_score": 119,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 6,
                        "abbreviation": "CLE",
                        "city": "Cleveland",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Cleveland Cavaliers",
                        "name": "Cavaliers"
                      },
                      "visitor_team_score": 106
                    },
                    {
                      "id": 48746,
                      "date": "2019-02-08T00:00:00.000Z",
                      "home_team": {
                        "id": 26,
                        "abbreviation": "SAC",
                        "city": "Sacramento",
                        "conference": "West",
                        "division": "Pacific",
                        "full_name": "Sacramento Kings",
                        "name": "Kings"
                      },
                      "home_team_score": 102,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 16,
                        "abbreviation": "MIA",
                        "city": "Miami",
                        "conference": "East",
                        "division": "Southeast",
                        "full_name": "Miami Heat",
                        "name": "Heat"
                      },
                      "visitor_team_score": 96
                    },
                    {
                      "id": 48762,
                      "date": "2019-02-11T00:00:00.000Z",
                      "home_team": {
                        "id": 9,
                        "abbreviation": "DET",
                        "city": "Detroit",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Detroit Pistons",
                        "name": "Pistons"
                      },
                      "home_team_score": 121,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 30,
                        "abbreviation": "WAS",
                        "city": "Washington",
                        "conference": "East",
                        "division": "Southeast",
                        "full_name": "Washington Wizards",
                        "name": "Wizards"
                      },
                      "visitor_team_score": 112
                    },
                    {
                      "id": 48745,
                      "date": "2019-02-08T00:00:00.000Z",
                      "home_team": {
                        "id": 19,
                        "abbreviation": "NOP",
                        "city": "New Orleans",
                        "conference": "West",
                        "division": "Southwest",
                        "full_name": "New Orleans Pelicans",
                        "name": "Pelicans"
                      },
                      "home_team_score": 122,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 18,
                        "abbreviation": "MIN",
                        "city": "Minnesota",
                        "conference": "West",
                        "division": "Northwest",
                        "full_name": "Minnesota Timberwolves",
                        "name": "Timberwolves"
                      },
                      "visitor_team_score": 117
                    },
                    {
                      "id": 48748,
                      "date": "2019-02-09T00:00:00.000Z",
                      "home_team": {
                        "id": 12,
                        "abbreviation": "IND",
                        "city": "Indiana",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Indiana Pacers",
                        "name": "Pacers"
                      },
                      "home_team_score": 105,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 6,
                        "abbreviation": "CLE",
                        "city": "Cleveland",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Cleveland Cavaliers",
                        "name": "Cavaliers"
                      },
                      "visitor_team_score": 90
                    },
                    {
                      "id": 48749,
                      "date": "2019-02-09T00:00:00.000Z",
                      "home_team": {
                        "id": 1,
                        "abbreviation": "ATL",
                        "city": "Atlanta",
                        "conference": "East",
                        "division": "Southeast",
                        "full_name": "Atlanta Hawks",
                        "name": "Hawks"
                      },
                      "home_team_score": 120,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 4,
                        "abbreviation": "CHA",
                        "city": "Charlotte",
                        "conference": "East",
                        "division": "Southeast",
                        "full_name": "Charlotte Hornets",
                        "name": "Hornets"
                      },
                      "visitor_team_score": 129
                    },
                    {
                      "id": 48747,
                      "date": "2019-02-09T00:00:00.000Z",
                      "home_team": {
                        "id": 29,
                        "abbreviation": "UTA",
                        "city": "Utah",
                        "conference": "West",
                        "division": "Northwest",
                        "full_name": "Utah Jazz",
                        "name": "Jazz"
                      },
                      "home_team_score": 125,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 27,
                        "abbreviation": "SAS",
                        "city": "San Antonio",
                        "conference": "West",
                        "division": "Southwest",
                        "full_name": "San Antonio Spurs",
                        "name": "Spurs"
                      },
                      "visitor_team_score": 105
                    },
                    {
                      "id": 48752,
                      "date": "2019-02-09T00:00:00.000Z",
                      "home_team": {
                        "id": 5,
                        "abbreviation": "CHI",
                        "city": "Chicago",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Chicago Bulls",
                        "name": "Bulls"
                      },
                      "home_team_score": 125,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 30,
                        "abbreviation": "WAS",
                        "city": "Washington",
                        "conference": "East",
                        "division": "Southeast",
                        "full_name": "Washington Wizards",
                        "name": "Wizards"
                      },
                      "visitor_team_score": 134
                    },
                    {
                      "id": 48756,
                      "date": "2019-02-10T00:00:00.000Z",
                      "home_team": {
                        "id": 7,
                        "abbreviation": "DAL",
                        "city": "Dallas",
                        "conference": "West",
                        "division": "Southwest",
                        "full_name": "Dallas Mavericks",
                        "name": "Mavericks"
                      },
                      "home_team_score": 102,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 25,
                        "abbreviation": "POR",
                        "city": "Portland",
                        "conference": "West",
                        "division": "Northwest",
                        "full_name": "Portland Trail Blazers",
                        "name": "Trail Blazers"
                      },
                      "visitor_team_score": 101
                    },
                    {
                      "id": 48760,
                      "date": "2019-02-10T00:00:00.000Z",
                      "home_team": {
                        "id": 23,
                        "abbreviation": "PHI",
                        "city": "Philadelphia",
                        "conference": "East",
                        "division": "Atlantic",
                        "full_name": "Philadelphia 76ers",
                        "name": "76ers"
                      },
                      "home_team_score": 143,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 14,
                        "abbreviation": "LAL",
                        "city": "Los Angeles",
                        "conference": "West",
                        "division": "Pacific",
                        "full_name": "Los Angeles Lakers",
                        "name": "Lakers"
                      },
                      "visitor_team_score": 120
                    },
                    {
                      "id": 48757,
                      "date": "2019-02-10T00:00:00.000Z",
                      "home_team": {
                        "id": 26,
                        "abbreviation": "SAC",
                        "city": "Sacramento",
                        "conference": "West",
                        "division": "Pacific",
                        "full_name": "Sacramento Kings",
                        "name": "Kings"
                      },
                      "home_team_score": 117,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 24,
                        "abbreviation": "PHX",
                        "city": "Phoenix",
                        "conference": "West",
                        "division": "Pacific",
                        "full_name": "Phoenix Suns",
                        "name": "Suns"
                      },
                      "visitor_team_score": 104
                    },
                    {
                      "id": 48755,
                      "date": "2019-02-09T00:00:00.000Z",
                      "home_team": {
                        "id": 17,
                        "abbreviation": "MIL",
                        "city": "Milwaukee",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Milwaukee Bucks",
                        "name": "Bucks"
                      },
                      "home_team_score": 83,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 22,
                        "abbreviation": "ORL",
                        "city": "Orlando",
                        "conference": "East",
                        "division": "Southeast",
                        "full_name": "Orlando Magic",
                        "name": "Magic"
                      },
                      "visitor_team_score": 103
                    },
                    {
                      "id": 48754,
                      "date": "2019-02-09T00:00:00.000Z",
                      "home_team": {
                        "id": 11,
                        "abbreviation": "HOU",
                        "city": "Houston",
                        "conference": "West",
                        "division": "Southwest",
                        "full_name": "Houston Rockets",
                        "name": "Rockets"
                      },
                      "home_team_score": 112,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 21,
                        "abbreviation": "OKC",
                        "city": "Oklahoma City",
                        "conference": "West",
                        "division": "Northwest",
                        "full_name": "Oklahoma City Thunder",
                        "name": "Thunder"
                      },
                      "visitor_team_score": 117
                    },
                    {
                      "id": 48759,
                      "date": "2019-02-10T00:00:00.000Z",
                      "home_team": {
                        "id": 10,
                        "abbreviation": "GSW",
                        "city": "Golden State",
                        "conference": "West",
                        "division": "Pacific",
                        "full_name": "Golden State Warriors",
                        "name": "Warriors"
                      },
                      "home_team_score": 120,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 16,
                        "abbreviation": "MIA",
                        "city": "Miami",
                        "conference": "East",
                        "division": "Southeast",
                        "full_name": "Miami Heat",
                        "name": "Heat"
                      },
                      "visitor_team_score": 118
                    },
                    {
                      "id": 48758,
                      "date": "2019-02-10T00:00:00.000Z",
                      "home_team": {
                        "id": 1,
                        "abbreviation": "ATL",
                        "city": "Atlanta",
                        "conference": "East",
                        "division": "Southeast",
                        "full_name": "Atlanta Hawks",
                        "name": "Hawks"
                      },
                      "home_team_score": 108,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 22,
                        "abbreviation": "ORL",
                        "city": "Orlando",
                        "conference": "East",
                        "division": "Southeast",
                        "full_name": "Orlando Magic",
                        "name": "Magic"
                      },
                      "visitor_team_score": 124
                    },
                    {
                      "id": 48766,
                      "date": "2019-02-11T00:00:00.000Z",
                      "home_team": {
                        "id": 11,
                        "abbreviation": "HOU",
                        "city": "Houston",
                        "conference": "West",
                        "division": "Southwest",
                        "full_name": "Houston Rockets",
                        "name": "Rockets"
                      },
                      "home_team_score": 120,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 7,
                        "abbreviation": "DAL",
                        "city": "Dallas",
                        "conference": "West",
                        "division": "Southwest",
                        "full_name": "Dallas Mavericks",
                        "name": "Mavericks"
                      },
                      "visitor_team_score": 104
                    },
                    {
                      "id": 48764,
                      "date": "2019-02-11T00:00:00.000Z",
                      "home_team": {
                        "id": 28,
                        "abbreviation": "TOR",
                        "city": "Toronto",
                        "conference": "East",
                        "division": "Atlantic",
                        "full_name": "Toronto Raptors",
                        "name": "Raptors"
                      },
                      "home_team_score": 127,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 3,
                        "abbreviation": "BKN",
                        "city": "Brooklyn",
                        "conference": "East",
                        "division": "Atlantic",
                        "full_name": "Brooklyn Nets",
                        "name": "Nets"
                      },
                      "visitor_team_score": 125
                    },
                    {
                      "id": 48770,
                      "date": "2019-02-12T00:00:00.000Z",
                      "home_team": {
                        "id": 1,
                        "abbreviation": "ATL",
                        "city": "Atlanta",
                        "conference": "East",
                        "division": "Southeast",
                        "full_name": "Atlanta Hawks",
                        "name": "Hawks"
                      },
                      "home_team_score": 117,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 14,
                        "abbreviation": "LAL",
                        "city": "Los Angeles",
                        "conference": "West",
                        "division": "Pacific",
                        "full_name": "Los Angeles Lakers",
                        "name": "Lakers"
                      },
                      "visitor_team_score": 113
                    },
                    {
                      "id": 48763,
                      "date": "2019-02-11T00:00:00.000Z",
                      "home_team": {
                        "id": 12,
                        "abbreviation": "IND",
                        "city": "Indiana",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Indiana Pacers",
                        "name": "Pacers"
                      },
                      "home_team_score": 99,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 4,
                        "abbreviation": "CHA",
                        "city": "Charlotte",
                        "conference": "East",
                        "division": "Southeast",
                        "full_name": "Charlotte Hornets",
                        "name": "Hornets"
                      },
                      "visitor_team_score": 90
                    },
                    {
                      "id": 48765,
                      "date": "2019-02-11T00:00:00.000Z",
                      "home_team": {
                        "id": 5,
                        "abbreviation": "CHI",
                        "city": "Chicago",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Chicago Bulls",
                        "name": "Bulls"
                      },
                      "home_team_score": 99,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 17,
                        "abbreviation": "MIL",
                        "city": "Milwaukee",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Milwaukee Bucks",
                        "name": "Bucks"
                      },
                      "visitor_team_score": 112
                    },
                    {
                      "id": 48774,
                      "date": "2019-02-12T00:00:00.000Z",
                      "home_team": {
                        "id": 10,
                        "abbreviation": "GSW",
                        "city": "Golden State",
                        "conference": "West",
                        "division": "Pacific",
                        "full_name": "Golden State Warriors",
                        "name": "Warriors"
                      },
                      "home_team_score": 115,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 29,
                        "abbreviation": "UTA",
                        "city": "Utah",
                        "conference": "West",
                        "division": "Northwest",
                        "full_name": "Utah Jazz",
                        "name": "Jazz"
                      },
                      "visitor_team_score": 108
                    },
                    {
                      "id": 48772,
                      "date": "2019-02-12T00:00:00.000Z",
                      "home_team": {
                        "id": 15,
                        "abbreviation": "MEM",
                        "city": "Memphis",
                        "conference": "West",
                        "division": "Southwest",
                        "full_name": "Memphis Grizzlies",
                        "name": "Grizzlies"
                      },
                      "home_team_score": 107,
                      "period": 4,
                      "postseason": false,
                      "season": 2018,
                      "status": "Final",
                      "time": "     ",
                      "visitor_team": {
                        "id": 27,
                        "abbreviation": "SAS",
                        "city": "San Antonio",
                        "conference": "West",
                        "division": "Southwest",
                        "full_name": "San Antonio Spurs",
                        "name": "Spurs"
                      },
                      "visitor_team_score": 108
                    }
                  ],
                  "meta": {
                    "total_pages": 2821,
                    "current_page": 1,
                    "next_page": 2,
                    "per_page": 25,
                    "total_count": 70508
                  }
                }
              }
            }
          },
          "default": {
            "description": "Request Error",
            "content": {
              "text/html; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                },
                "example": "<text/html; charset=UTF-8 DATA>"
              }
            }
          }
        }
      }
    },
    "/v1/stats": {
      "get": {
        "description": "No description.",
        "parameters": [
          {
            "name": "search",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Stephen%20Curry": {
                "value": "Stephen%20Curry"
              }
            }
          },
          {
            "name": "sort",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "points": {
                "value": "points"
              }
            }
          },
          {
            "name": "seasons",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "per_page",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "page",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "player_ids",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "team_ids",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "start_date",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "end_date",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "game_ids",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "post_season",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "start_time",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "x-null"
            },
            "examples": {}
          },
          {
            "name": "team_ids[]",
            "description": "No description.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "2": {
                "value": "2"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No description.",
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseSchema_api_v1_stats"
                },
                "example": {
                  "data": [
                    {
                      "id": 13900750,
                      "ast": 3,
                      "blk": 1,
                      "dreb": 4,
                      "fg3_pct": 0.33333334,
                      "fg3a": 6,
                      "fg3m": 2,
                      "fg_pct": 0.44444445,
                      "fga": 18,
                      "fgm": 8,
                      "ft_pct": 0.33333334,
                      "fta": 3,
                      "ftm": 1,
                      "game": {
                        "id": 906741,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 16,
                        "home_team_score": 121,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 17,
                        "visitor_team_score": 99
                      },
                      "min": "36",
                      "oreb": 1,
                      "pf": 1,
                      "player": {
                        "id": 214,
                        "first_name": "Jrue",
                        "height_feet": 6,
                        "height_inches": 4,
                        "last_name": "Holiday",
                        "position": "G",
                        "team_id": 2,
                        "weight_pounds": 205
                      },
                      "pts": 19,
                      "reb": 5,
                      "stl": 0,
                      "team": {
                        "id": 17,
                        "abbreviation": "MIL",
                        "city": "Milwaukee",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Milwaukee Bucks",
                        "name": "Bucks"
                      },
                      "turnover": 5
                    },
                    {
                      "id": 13900757,
                      "ast": 1,
                      "blk": 1,
                      "dreb": 0,
                      "fg3_pct": 0.16666667,
                      "fg3a": 6,
                      "fg3m": 1,
                      "fg_pct": 0.2857143,
                      "fga": 7,
                      "fgm": 2,
                      "ft_pct": 0.0,
                      "fta": 0,
                      "ftm": 0,
                      "game": {
                        "id": 906741,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 16,
                        "home_team_score": 121,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 17,
                        "visitor_team_score": 99
                      },
                      "min": "22",
                      "oreb": 0,
                      "pf": 1,
                      "player": {
                        "id": 226,
                        "first_name": "Joe",
                        "height_feet": 6,
                        "height_inches": 8,
                        "last_name": "Ingles",
                        "position": "F",
                        "team_id": 22,
                        "weight_pounds": 226
                      },
                      "pts": 5,
                      "reb": 0,
                      "stl": 0,
                      "team": {
                        "id": 17,
                        "abbreviation": "MIL",
                        "city": "Milwaukee",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Milwaukee Bucks",
                        "name": "Bucks"
                      },
                      "turnover": 3
                    },
                    {
                      "id": 13900755,
                      "ast": 1,
                      "blk": 0,
                      "dreb": 1,
                      "fg3_pct": 0.0,
                      "fg3a": 0,
                      "fg3m": 0,
                      "fg_pct": 0.5,
                      "fga": 4,
                      "fgm": 2,
                      "ft_pct": 0.5,
                      "fta": 2,
                      "ftm": 1,
                      "game": {
                        "id": 906741,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 16,
                        "home_team_score": 121,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 17,
                        "visitor_team_score": 99
                      },
                      "min": "14",
                      "oreb": 0,
                      "pf": 0,
                      "player": {
                        "id": 112,
                        "first_name": "Jae",
                        "height_feet": 6,
                        "height_inches": 6,
                        "last_name": "Crowder",
                        "position": "F",
                        "team_id": 17,
                        "weight_pounds": 235
                      },
                      "pts": 5,
                      "reb": 1,
                      "stl": 1,
                      "team": {
                        "id": 17,
                        "abbreviation": "MIL",
                        "city": "Milwaukee",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Milwaukee Bucks",
                        "name": "Bucks"
                      },
                      "turnover": 0
                    },
                    {
                      "id": 13900754,
                      "ast": 3,
                      "blk": 0,
                      "dreb": 6,
                      "fg3_pct": 0.5,
                      "fg3a": 6,
                      "fg3m": 3,
                      "fg_pct": 0.5714286,
                      "fga": 7,
                      "fgm": 4,
                      "ft_pct": 0.0,
                      "fta": 0,
                      "ftm": 0,
                      "game": {
                        "id": 906741,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 16,
                        "home_team_score": 121,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 17,
                        "visitor_team_score": 99
                      },
                      "min": "26",
                      "oreb": 1,
                      "pf": 2,
                      "player": {
                        "id": 105,
                        "first_name": "Pat",
                        "height_feet": 6,
                        "height_inches": 4,
                        "last_name": "Connaughton",
                        "position": "G",
                        "team_id": 17,
                        "weight_pounds": 209
                      },
                      "pts": 11,
                      "reb": 7,
                      "stl": 1,
                      "team": {
                        "id": 17,
                        "abbreviation": "MIL",
                        "city": "Milwaukee",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Milwaukee Bucks",
                        "name": "Bucks"
                      },
                      "turnover": 1
                    },
                    {
                      "id": 13900753,
                      "ast": 2,
                      "blk": 0,
                      "dreb": 0,
                      "fg3_pct": 0.0,
                      "fg3a": 2,
                      "fg3m": 0,
                      "fg_pct": 0.0,
                      "fga": 2,
                      "fgm": 0,
                      "ft_pct": 0.0,
                      "fta": 0,
                      "ftm": 0,
                      "game": {
                        "id": 906741,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 16,
                        "home_team_score": 121,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 17,
                        "visitor_team_score": 99
                      },
                      "min": "12",
                      "oreb": 0,
                      "pf": 0,
                      "player": {
                        "id": 87,
                        "first_name": "Jevon",
                        "height_feet": 6,
                        "height_inches": 2,
                        "last_name": "Carter",
                        "position": "G",
                        "team_id": 5,
                        "weight_pounds": 196
                      },
                      "pts": 0,
                      "reb": 0,
                      "stl": 0,
                      "team": {
                        "id": 17,
                        "abbreviation": "MIL",
                        "city": "Milwaukee",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Milwaukee Bucks",
                        "name": "Bucks"
                      },
                      "turnover": 0
                    },
                    {
                      "id": 13900752,
                      "ast": 0,
                      "blk": 0,
                      "dreb": 1,
                      "fg3_pct": 1.0,
                      "fg3a": 1,
                      "fg3m": 1,
                      "fg_pct": 0.6666667,
                      "fga": 3,
                      "fgm": 2,
                      "ft_pct": 0.0,
                      "fta": 0,
                      "ftm": 0,
                      "game": {
                        "id": 906741,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 16,
                        "home_team_score": 121,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 17,
                        "visitor_team_score": 99
                      },
                      "min": "04",
                      "oreb": 0,
                      "pf": 0,
                      "player": {
                        "id": 38017676,
                        "first_name": "MarJon",
                        "height_feet": null,
                        "height_inches": null,
                        "last_name": "Beauchamp",
                        "position": "F",
                        "team_id": 17,
                        "weight_pounds": null
                      },
                      "pts": 5,
                      "reb": 1,
                      "stl": 0,
                      "team": {
                        "id": 17,
                        "abbreviation": "MIL",
                        "city": "Milwaukee",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Milwaukee Bucks",
                        "name": "Bucks"
                      },
                      "turnover": 0
                    },
                    {
                      "id": 13900758,
                      "ast": 0,
                      "blk": 0,
                      "dreb": 1,
                      "fg3_pct": 0.0,
                      "fg3a": 0,
                      "fg3m": 0,
                      "fg_pct": 0.0,
                      "fga": 0,
                      "fgm": 0,
                      "ft_pct": 0.0,
                      "fta": 0,
                      "ftm": 0,
                      "game": {
                        "id": 906741,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 16,
                        "home_team_score": 121,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 17,
                        "visitor_team_score": 99
                      },
                      "min": "04",
                      "oreb": 0,
                      "pf": 0,
                      "player": {
                        "id": 275,
                        "first_name": "Meyers",
                        "height_feet": 7,
                        "height_inches": 1,
                        "last_name": "Leonard",
                        "position": "F-C",
                        "team_id": 17,
                        "weight_pounds": 255
                      },
                      "pts": 0,
                      "reb": 1,
                      "stl": 0,
                      "team": {
                        "id": 17,
                        "abbreviation": "MIL",
                        "city": "Milwaukee",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Milwaukee Bucks",
                        "name": "Bucks"
                      },
                      "turnover": 0
                    },
                    {
                      "id": 13900756,
                      "ast": 1,
                      "blk": 0,
                      "dreb": 0,
                      "fg3_pct": 0.0,
                      "fg3a": 1,
                      "fg3m": 0,
                      "fg_pct": 0.0,
                      "fga": 2,
                      "fgm": 0,
                      "ft_pct": 1.0,
                      "fta": 2,
                      "ftm": 2,
                      "game": {
                        "id": 906741,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 16,
                        "home_team_score": 121,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 17,
                        "visitor_team_score": 99
                      },
                      "min": "04",
                      "oreb": 0,
                      "pf": 0,
                      "player": {
                        "id": 136,
                        "first_name": "Goran",
                        "height_feet": 6,
                        "height_inches": 3,
                        "last_name": "Dragic",
                        "position": "G",
                        "team_id": 17,
                        "weight_pounds": 190
                      },
                      "pts": 2,
                      "reb": 0,
                      "stl": 0,
                      "team": {
                        "id": 17,
                        "abbreviation": "MIL",
                        "city": "Milwaukee",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Milwaukee Bucks",
                        "name": "Bucks"
                      },
                      "turnover": 0
                    },
                    {
                      "id": 13900751,
                      "ast": 0,
                      "blk": 0,
                      "dreb": 0,
                      "fg3_pct": 0.0,
                      "fg3a": 0,
                      "fg3m": 0,
                      "fg_pct": 0.0,
                      "fga": 0,
                      "fgm": 0,
                      "ft_pct": 0.0,
                      "fta": 0,
                      "ftm": 0,
                      "game": {
                        "id": 906741,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 16,
                        "home_team_score": 121,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 17,
                        "visitor_team_score": 99
                      },
                      "min": "04",
                      "oreb": 0,
                      "pf": 0,
                      "player": {
                        "id": 2148,
                        "first_name": "Thanasis",
                        "height_feet": null,
                        "height_inches": null,
                        "last_name": "Antetokounmpo",
                        "position": "",
                        "team_id": 17,
                        "weight_pounds": null
                      },
                      "pts": 0,
                      "reb": 0,
                      "stl": 0,
                      "team": {
                        "id": 17,
                        "abbreviation": "MIL",
                        "city": "Milwaukee",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Milwaukee Bucks",
                        "name": "Bucks"
                      },
                      "turnover": 0
                    },
                    {
                      "id": 13900759,
                      "ast": 0,
                      "blk": 0,
                      "dreb": 0,
                      "fg3_pct": 0.0,
                      "fg3a": 0,
                      "fg3m": 0,
                      "fg_pct": 0.0,
                      "fga": 0,
                      "fgm": 0,
                      "ft_pct": 0.0,
                      "fta": 0,
                      "ftm": 0,
                      "game": {
                        "id": 906741,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 16,
                        "home_team_score": 121,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 17,
                        "visitor_team_score": 99
                      },
                      "min": "00",
                      "oreb": 0,
                      "pf": 0,
                      "player": {
                        "id": 15,
                        "first_name": "Giannis",
                        "height_feet": 6,
                        "height_inches": 11,
                        "last_name": "Antetokounmpo",
                        "position": "F",
                        "team_id": 17,
                        "weight_pounds": 242
                      },
                      "pts": 0,
                      "reb": 0,
                      "stl": 0,
                      "team": {
                        "id": 17,
                        "abbreviation": "MIL",
                        "city": "Milwaukee",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Milwaukee Bucks",
                        "name": "Bucks"
                      },
                      "turnover": 0
                    },
                    {
                      "id": 13900760,
                      "ast": 0,
                      "blk": 0,
                      "dreb": 0,
                      "fg3_pct": 0.0,
                      "fg3a": 0,
                      "fg3m": 0,
                      "fg_pct": 0.0,
                      "fga": 0,
                      "fgm": 0,
                      "ft_pct": 0.0,
                      "fta": 0,
                      "ftm": 0,
                      "game": {
                        "id": 906741,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 16,
                        "home_team_score": 121,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 17,
                        "visitor_team_score": 99
                      },
                      "min": "00",
                      "oreb": 0,
                      "pf": 0,
                      "player": {
                        "id": 301,
                        "first_name": "Wesley",
                        "height_feet": null,
                        "height_inches": null,
                        "last_name": "Matthews",
                        "position": "G-F",
                        "team_id": 1,
                        "weight_pounds": null
                      },
                      "pts": 0,
                      "reb": 0,
                      "stl": 0,
                      "team": {
                        "id": 17,
                        "abbreviation": "MIL",
                        "city": "Milwaukee",
                        "conference": "East",
                        "division": "Central",
                        "full_name": "Milwaukee Bucks",
                        "name": "Bucks"
                      },
                      "turnover": 0
                    },
                    {
                      "id": 13901211,
                      "ast": 0,
                      "blk": 3,
                      "dreb": 1,
                      "fg3_pct": 0.0,
                      "fg3a": 1,
                      "fg3m": 0,
                      "fg_pct": 0.0,
                      "fga": 1,
                      "fgm": 0,
                      "ft_pct": 0.0,
                      "fta": 0,
                      "ftm": 0,
                      "game": {
                        "id": 892505,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 14,
                        "home_team_score": 111,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 15,
                        "visitor_team_score": 101
                      },
                      "min": "21",
                      "oreb": 0,
                      "pf": 5,
                      "player": {
                        "id": 457,
                        "first_name": "Jarred",
                        "height_feet": 6,
                        "height_inches": 9,
                        "last_name": "Vanderbilt",
                        "position": "F",
                        "team_id": 14,
                        "weight_pounds": 214
                      },
                      "pts": 0,
                      "reb": 1,
                      "stl": 2,
                      "team": {
                        "id": 14,
                        "abbreviation": "LAL",
                        "city": "Los Angeles",
                        "conference": "West",
                        "division": "Pacific",
                        "full_name": "Los Angeles Lakers",
                        "name": "Lakers"
                      },
                      "turnover": 0
                    },
                    {
                      "id": 13901212,
                      "ast": 5,
                      "blk": 1,
                      "dreb": 7,
                      "fg3_pct": 0.0,
                      "fg3a": 4,
                      "fg3m": 0,
                      "fg_pct": 0.5,
                      "fga": 20,
                      "fgm": 10,
                      "ft_pct": 0.71428573,
                      "fta": 7,
                      "ftm": 5,
                      "game": {
                        "id": 892505,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 14,
                        "home_team_score": 111,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 15,
                        "visitor_team_score": 101
                      },
                      "min": "36",
                      "oreb": 2,
                      "pf": 3,
                      "player": {
                        "id": 237,
                        "first_name": "LeBron",
                        "height_feet": 6,
                        "height_inches": 8,
                        "last_name": "James",
                        "position": "F",
                        "team_id": 14,
                        "weight_pounds": 250
                      },
                      "pts": 25,
                      "reb": 9,
                      "stl": 1,
                      "team": {
                        "id": 14,
                        "abbreviation": "LAL",
                        "city": "Los Angeles",
                        "conference": "West",
                        "division": "Pacific",
                        "full_name": "Los Angeles Lakers",
                        "name": "Lakers"
                      },
                      "turnover": 3
                    },
                    {
                      "id": 13901213,
                      "ast": 2,
                      "blk": 3,
                      "dreb": 13,
                      "fg3_pct": 0.25,
                      "fg3a": 4,
                      "fg3m": 1,
                      "fg_pct": 0.45833334,
                      "fga": 24,
                      "fgm": 11,
                      "ft_pct": 0.8,
                      "fta": 10,
                      "ftm": 8,
                      "game": {
                        "id": 892505,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 14,
                        "home_team_score": 111,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 15,
                        "visitor_team_score": 101
                      },
                      "min": "39",
                      "oreb": 4,
                      "pf": 3,
                      "player": {
                        "id": 117,
                        "first_name": "Anthony",
                        "height_feet": 6,
                        "height_inches": 10,
                        "last_name": "Davis",
                        "position": "F-C",
                        "team_id": 14,
                        "weight_pounds": 253
                      },
                      "pts": 31,
                      "reb": 17,
                      "stl": 2,
                      "team": {
                        "id": 14,
                        "abbreviation": "LAL",
                        "city": "Los Angeles",
                        "conference": "West",
                        "division": "Pacific",
                        "full_name": "Los Angeles Lakers",
                        "name": "Lakers"
                      },
                      "turnover": 3
                    },
                    {
                      "id": 13901214,
                      "ast": 2,
                      "blk": 0,
                      "dreb": 2,
                      "fg3_pct": 0.25,
                      "fg3a": 4,
                      "fg3m": 1,
                      "fg_pct": 0.5,
                      "fga": 10,
                      "fgm": 5,
                      "ft_pct": 0.6666667,
                      "fta": 3,
                      "ftm": 2,
                      "game": {
                        "id": 892505,
                        "date": "2023-04-22T00:00:00.000Z",
                        "home_team_id": 14,
                        "home_team_score": 111,
                        "period": 4,
                        "postseason": true,
                        "season": 2022,
                        "status": "Final",
                        "time": "Final",
                        "visitor_team_id": 15,
                        "visitor_team_score": 101
                      },
                      "min": "35",
                      "oreb": 4,
                      "pf": 2,
                      "player": {
                        "id": 17553995,
                        "first_name": "Austin",
                        "height_feet": null,
                        "height_inches": null,
                        "last_name": "Reaves",
                        "position": "G",
                        "team_id": 14,
                        "weight_pounds": null
                      },
                      "pts": 13,
                      "reb": 6,
                      "stl": 1,
                      "team": {
                        "id": 14,
                        "abbreviation": "LAL",
                        "city": "Los Angeles",
                        "conference": "West",
                        "division": "Pacific",
                        "full_name": "Los Angeles Lakers",
                        "name": "Lakers"
                      },
                      "turnover": 1
                    },
                    {
                      "id": 13901215,
                      "ast": 7,
                      "blk": 0,
                      "dreb": 3,
                      "fg3_pct": 0.2857143,
                      "fg3a": 7,
                      "fg3m": 2,
                      "fg_pct": 0.35714287,
                      "fga": 14,
                      "fgm": 5,
                      "ft_pct": 1.0,
                      "fta": 5,
[...]
