openapi: 3.0.0
info:
  title: Bored API
  description: API to find random activities to overcome boredom.
  version: "1.0"
servers:
  - url: http://www.boredapi.com/api/
paths:
  /activity:
    get:
      summary: Get a random activity
      description: Returns a single random activity to do, optionally filtered by type and number of participants.
      operationId: getRandomActivity
      parameters:
        - name: type
          in: query
          description: Type of the activity to filter by.
          required: false
          schema:
            type: string
            enum: [education, recreational, social, diy, charity, cooking, relaxation, music, busywork]
        - name: participants
          in: query
          description: Number of participants for the activity.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: A random activity object
          content:
            application/json:
              schema:
                type: object
                properties:
                  activity:
                    type: string
                    description: Description of the activity.
                  accessibility:
                    type: number
                    format: float
                    description: A factor describing how possible an activity is (0.0 means possible to anyone).
                  type:
                    type: string
                    description: Type of the activity.
                  participants:
                    type: integer
                    description: The number of people that can participate in the activity.
                  price:
                    type: number
                    format: float
                    description: A factor describing the cost of the event (0.0 means free).
                  link:
                    type: string
                    description: A link to a resource for more information (optional).
                  key:
                    type: string
                    description: A unique numeric string that identifies the activity.
