{
    "openapi": "3.1.0",
    "info": {
        "title": "CoinCap API",
        "description": "**Disclaimer** - This *OpenAPI* specification is generated with the tool *RESTSpecIT*, which leverages *GPT* Large Language Models. Even though the tool verifies as much as possible the model responses, mistakes and/or inaccuracies may be found in the generated specification. Thus, data such as the license or the e-mail of the API should still be manually verified. Moreover, invalid API parameters are often ignored in *nearly* valid requests, as RESTful APIs tend to apply the **robustness principle**. This principle states that *programs receiving messages should accept non-conformant input as long as the meaning is clear*. As the validity of such parameters is complicated to verify, some described parameters may result in false positives. Query parameters that were found but did not specify a value have their type set to **x-null**.<br><br>**Be Reassured** - The tool *RESTSpecIT* has been thouroughly tested on various APIs, demonstrating an average route and parameter discovery rate of over x%. Additionally, the tool is capable of discovering undocumented features of APIs, which was verified with x of the tested APIs.<br><br>**API Description** - CoinCap API is a cryptocurrency data service that provides real-time market data and historical information for various digital assets.",
        "termsOfService": "https://docs.coincap.io/#terms-of-service",
        "contact": {
            "name": "CoinCap API Contact",
            "url": "https://docs.coincap.io/#contact-us",
            "email": "support@coincap.io"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.coincap.io",
            "description": "Production Server of the CoinCap API.",
            "x-base-routes": 1
        }
    ],
    "externalDocs": {
        "url": "https://docs.coincap.io",
        "description": "Find more about the CoinCap API here:"
    },
    "paths": {
        "/v2/assets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            },
                            "h1": {
                                "value": "h1"
                            },
                            "1d": {
                                "value": "1d"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin,ethereum": {
                                "value": "bitcoin,ethereum"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": "bitcoin",
                                            "rank": "1",
                                            "symbol": "BTC",
                                            "name": "Bitcoin",
                                            "supply": "19547062.0000000000000000",
                                            "maxSupply": "21000000.0000000000000000",
                                            "marketCapUsd": "715421360441.6559305847938572",
                                            "volumeUsd24Hr": "11413255437.0883225358583421",
                                            "priceUsd": "36599.9432774938725106",
                                            "changePercent24Hr": "-0.7714281054412735",
                                            "vwap24Hr": "36725.6125253955939715",
                                            "explorer": "https://blockchain.info/"
                                        },
                                        {
                                            "id": "ethereum",
                                            "rank": "2",
                                            "symbol": "ETH",
                                            "name": "Ethereum",
                                            "supply": "120252683.5477615300000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "243928415715.9678966899344615",
                                            "volumeUsd24Hr": "8117922587.3540313832032804",
                                            "priceUsd": "2028.4654655468481292",
                                            "changePercent24Hr": "1.6788071198316107",
                                            "vwap24Hr": "1983.2508711490251933",
                                            "explorer": "https://etherscan.io/"
                                        },
                                        {
                                            "id": "tether",
                                            "rank": "3",
                                            "symbol": "USDT",
                                            "name": "Tether",
                                            "supply": "87693583982.6464100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "87788148135.0862441106613133",
                                            "volumeUsd24Hr": "20019809616.5902749560771760",
                                            "priceUsd": "1.0010783474473862",
                                            "changePercent24Hr": "0.0811855883319706",
                                            "vwap24Hr": "1.0006219750766406",
                                            "explorer": "https://www.omniexplorer.info/asset/31"
                                        },
                                        {
                                            "id": "binance-coin",
                                            "rank": "4",
                                            "symbol": "BNB",
                                            "name": "BNB",
                                            "supply": "166801148.0000000000000000",
                                            "maxSupply": "166801148.0000000000000000",
                                            "marketCapUsd": "38938423189.7318822019465196",
                                            "volumeUsd24Hr": "1461692904.7720522892287100",
                                            "priceUsd": "233.4421774467156677",
                                            "changePercent24Hr": "-8.7625622720630208",
                                            "vwap24Hr": "242.7211666976261786",
                                            "explorer": "https://etherscan.io/token/0xB8c77482e45F1F44dE1745F52C74426C631bDD52"
                                        },
                                        {
                                            "id": "xrp",
                                            "rank": "5",
                                            "symbol": "XRP",
                                            "name": "XRP",
                                            "supply": "45404028640.0000000000000000",
                                            "maxSupply": "100000000000.0000000000000000",
                                            "marketCapUsd": "27188219852.1687541321672960",
                                            "volumeUsd24Hr": "629249841.8601441043384480",
                                            "priceUsd": "0.5988063320931064",
                                            "changePercent24Hr": "-1.5381224712360872",
                                            "vwap24Hr": "0.5941549622637892",
                                            "explorer": "https://xrpcharts.ripple.com/#/graph/"
                                        },
                                        {
                                            "id": "usd-coin",
                                            "rank": "6",
                                            "symbol": "USDC",
                                            "name": "USDC",
                                            "supply": "24436873852.2890780000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "24456724326.0617932284828161",
                                            "volumeUsd24Hr": "1591795006.3924637556424983",
                                            "priceUsd": "1.0008123164154590",
                                            "changePercent24Hr": "0.1186716110505869",
                                            "vwap24Hr": "1.0002886516975558",
                                            "explorer": "https://etherscan.io/token/0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
                                        },
                                        {
                                            "id": "solana",
                                            "rank": "7",
                                            "symbol": "SOL",
                                            "name": "Solana",
                                            "supply": "422869184.0387105000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "23452523319.8801135764440158",
                                            "volumeUsd24Hr": "830941755.7345782588908090",
                                            "priceUsd": "55.4604691121999826",
                                            "changePercent24Hr": "0.9711755738325536",
                                            "vwap24Hr": "54.1273894506945993",
                                            "explorer": "https://explorer.solana.com/"
                                        },
                                        {
                                            "id": "cardano",
                                            "rank": "8",
                                            "symbol": "ADA",
                                            "name": "Cardano",
                                            "supply": "35281631317.3040000000000000",
                                            "maxSupply": "45000000000.0000000000000000",
                                            "marketCapUsd": "13145749007.6856749303713305",
                                            "volumeUsd24Hr": "171246679.9994061275715899",
                                            "priceUsd": "0.3725947048610050",
                                            "changePercent24Hr": "-0.3940313668967524",
                                            "vwap24Hr": "0.3688666366106207",
                                            "explorer": "https://cardanoexplorer.com/"
                                        },
                                        {
                                            "id": "dogecoin",
                                            "rank": "9",
                                            "symbol": "DOGE",
                                            "name": "Dogecoin",
                                            "supply": "141896866383.7052600000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "10618787211.8714176040956763",
                                            "volumeUsd24Hr": "347479301.8076419082412163",
                                            "priceUsd": "0.0748345434433838",
                                            "changePercent24Hr": "-1.7639975081190468",
                                            "vwap24Hr": "0.0742890840542784",
                                            "explorer": "http://dogechain.info/chain/Dogecoin"
                                        },
                                        {
                                            "id": "tron",
                                            "rank": "10",
                                            "symbol": "TRX",
                                            "name": "TRON",
                                            "supply": "88628129776.1845100000000000",
                                            "maxSupply": null,
                                            "marketCapUsd": "8890476910.2561944165068390",
                                            "volumeUsd24Hr": "196437861.9510283791889802",
                                            "priceUsd": "0.1003121349024018",
                                            "changePercent24Hr": "-0.9148853710127357",
                                            "vwap24Hr": "0.0991405301692737",
                                            "explorer": "https://tronscan.org/#/"
                                        }
                                    ],
                                    "timestamp": 1700663753782
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/bitcoin": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            },
                            "m1": {
                                "value": "m1"
                            },
                            "h1": {
                                "value": "h1"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ethereum": {
                                "value": "ethereum"
                            },
                            "binance-coin": {
                                "value": "binance-coin"
                            },
                            "litecoin": {
                                "value": "litecoin"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            },
                            "percentChange24h": {
                                "value": "percentChange24h"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "cardano": {
                                "value": "cardano"
                            },
                            "polkadot": {
                                "value": "polkadot"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_bitcoin"
                                },
                                "example": {
                                    "data": {
                                        "id": "bitcoin",
                                        "rank": "1",
                                        "symbol": "BTC",
                                        "name": "Bitcoin",
                                        "supply": "19547062.0000000000000000",
                                        "maxSupply": "21000000.0000000000000000",
                                        "marketCapUsd": "715452021856.5120003490990854",
                                        "volumeUsd24Hr": "11409515405.4249235228317931",
                                        "priceUsd": "36601.5118720405143417",
                                        "changePercent24Hr": "-0.7714281054412735",
                                        "vwap24Hr": "36725.6125253955939715",
                                        "explorer": "https://blockchain.info/"
                                    },
                                    "timestamp": 1700663788416
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/ethereum": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_ethereum"
                                },
                                "example": {
                                    "data": {
                                        "id": "ethereum",
                                        "rank": "2",
                                        "symbol": "ETH",
                                        "name": "Ethereum",
                                        "supply": "120252683.5477615300000000",
                                        "maxSupply": null,
                                        "marketCapUsd": "243979705650.0165774554386119",
                                        "volumeUsd24Hr": "8063423039.0977229690599475",
                                        "priceUsd": "2028.8919835465758410",
                                        "changePercent24Hr": "1.6788071198316107",
                                        "vwap24Hr": "1983.2508711490251933",
                                        "explorer": "https://etherscan.io/"
                                    },
                                    "timestamp": 1700663789088
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/litecoin": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            },
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            },
                            "eth": {
                                "value": "eth"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin,ethereum": {
                                "value": "bitcoin,ethereum"
                            },
                            "bitcoin": {
                                "value": "bitcoin"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "LTC": {
                                "value": "LTC"
                            }
                        }
                    },
                    {
                        "name": "minCap",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1000000": {
                                "value": "1000000"
                            }
                        }
                    },
                    {
                        "name": "maxSupply",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1000000000": {
                                "value": "1000000000"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2019-01-01T00:00:00Z": {
                                "value": "2019-01-01T00:00:00Z"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2019-02-01T00:00:00Z": {
                                "value": "2019-02-01T00:00:00Z"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_litecoin"
                                },
                                "example": {
                                    "data": {
                                        "id": "litecoin",
                                        "rank": "17",
                                        "symbol": "LTC",
                                        "name": "Litecoin",
                                        "supply": "73891457.9735888800000000",
                                        "maxSupply": "84000000.0000000000000000",
                                        "marketCapUsd": "5027468812.0514373243585862",
                                        "volumeUsd24Hr": "160624399.4253422713311828",
                                        "priceUsd": "68.0385656194307608",
                                        "changePercent24Hr": "-3.5595996821184991",
                                        "vwap24Hr": "68.1523098356138168",
                                        "explorer": "http://explorer.litecoin.net/chain/Litecoin"
                                    },
                                    "timestamp": 1700663790301
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/cardano": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_cardano"
                                },
                                "example": {
                                    "data": {
                                        "id": "cardano",
                                        "rank": "8",
                                        "symbol": "ADA",
                                        "name": "Cardano",
                                        "supply": "35281631317.3040000000000000",
                                        "maxSupply": "45000000000.0000000000000000",
                                        "marketCapUsd": "13151886134.8744680111447372",
                                        "volumeUsd24Hr": "171306107.4008018377560394",
                                        "priceUsd": "0.3727686516701420",
                                        "changePercent24Hr": "-0.3940313668967524",
                                        "vwap24Hr": "0.3688666366106207",
                                        "explorer": "https://cardanoexplorer.com/"
                                    },
                                    "timestamp": 1700663790876
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/polkadot": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin": {
                                "value": "bitcoin"
                            },
                            "bitcoin,ethereum": {
                                "value": "bitcoin,ethereum"
                            },
                            "bitcoin,ethereum,cardano": {
                                "value": "bitcoin,ethereum,cardano"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "h1": {
                                "value": "h1"
                            },
                            "d1": {
                                "value": "d1"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "ethereum": {
                                "value": "ethereum"
                            },
                            "btc": {
                                "value": "btc"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "50": {
                                "value": "50"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "active": {
                                "value": "active"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "DOT": {
                                "value": "DOT"
                            },
                            "BTC": {
                                "value": "BTC"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "minCap",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100000000": {
                                "value": "100000000"
                            }
                        }
                    },
                    {
                        "name": "maxCap",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1000000000": {
                                "value": "1000000000"
                            }
                        }
                    },
                    {
                        "name": "changePercent",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "1h": {
                                "value": "1h"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_polkadot"
                                },
                                "example": {
                                    "data": {
                                        "id": "polkadot",
                                        "rank": "14",
                                        "symbol": "DOT",
                                        "name": "Polkadot",
                                        "supply": "1299549522.0593200000000000",
                                        "maxSupply": null,
                                        "marketCapUsd": "6642066735.9336910483373259",
                                        "volumeUsd24Hr": "126797936.2992346916049001",
                                        "priceUsd": "5.1110531943472204",
                                        "changePercent24Hr": "-0.5504737034271028",
                                        "vwap24Hr": "5.0318497566866534",
                                        "explorer": "https://polkascan.io/polkadot"
                                    },
                                    "timestamp": 1700663791568
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/stellar": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "time",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "minSupply",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "maxSupply",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "x-null"
                        },
                        "examples": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_stellar"
                                },
                                "example": {
                                    "data": {
                                        "id": "stellar",
                                        "rank": "24",
                                        "symbol": "XLM",
                                        "name": "Stellar",
                                        "supply": "27988596865.9852640000000000",
                                        "maxSupply": "50001806812.0000000000000000",
                                        "marketCapUsd": "3279141018.8126507729451533",
                                        "volumeUsd24Hr": "57705629.4480616979730671",
                                        "priceUsd": "0.1171598931705581",
                                        "changePercent24Hr": "-0.8010158889081686",
                                        "vwap24Hr": "0.1160345352273329",
                                        "explorer": "https://dashboard.stellar.org/"
                                    },
                                    "timestamp": 1700663792108
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/chainlink": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_chainlink"
                                },
                                "example": {
                                    "data": {
                                        "id": "chainlink",
                                        "rank": "11",
                                        "symbol": "LINK",
                                        "name": "Chainlink",
                                        "supply": "556849970.4527867000000000",
                                        "maxSupply": "1000000000.0000000000000000",
                                        "marketCapUsd": "8009839535.9828031248203743",
                                        "volumeUsd24Hr": "544444582.1907530486084474",
                                        "priceUsd": "14.3841967513616462",
                                        "changePercent24Hr": "1.9124777462455342",
                                        "vwap24Hr": "13.9448168875432731",
                                        "explorer": "https://etherscan.io/token/0x514910771af9ca656af840dff83e8264ecf986ca"
                                    },
                                    "timestamp": 1700663792634
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/dogecoin": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            },
                            "5": {
                                "value": "5"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            },
                            "EUR": {
                                "value": "EUR"
                            },
                            "usd": {
                                "value": "usd"
                            },
                            "BTC": {
                                "value": "BTC"
                            },
                            "ETH": {
                                "value": "ETH"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "marketCap": {
                                "value": "marketCap"
                            },
                            "id": {
                                "value": "id"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "daily": {
                                "value": "daily"
                            },
                            "hourly": {
                                "value": "hourly"
                            },
                            "h1": {
                                "value": "h1"
                            },
                            "h6": {
                                "value": "h6"
                            },
                            "d1": {
                                "value": "d1"
                            },
                            "w1": {
                                "value": "w1"
                            },
                            "m1": {
                                "value": "m1"
                            },
                            "y1": {
                                "value": "y1"
                            }
                        }
                    },
                    {
                        "name": "start",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-01-01": {
                                "value": "2022-01-01"
                            }
                        }
                    },
                    {
                        "name": "end",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "2022-12-31": {
                                "value": "2022-12-31"
                            },
                            "2022-01-31": {
                                "value": "2022-01-31"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "100": {
                                "value": "100"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "20": {
                                "value": "20"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "2": {
                                "value": "2"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin,ethereum": {
                                "value": "bitcoin,ethereum"
                            }
                        }
                    },
                    {
                        "name": "symbol",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "DOGE": {
                                "value": "DOGE"
                            }
                        }
                    },
                    {
                        "name": "search",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "coin": {
                                "value": "coin"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_dogecoin"
                                },
                                "example": {
                                    "data": {
                                        "id": "dogecoin",
                                        "rank": "9",
                                        "symbol": "DOGE",
                                        "name": "Dogecoin",
                                        "supply": "141896866383.7052600000000000",
                                        "maxSupply": null,
                                        "marketCapUsd": "10616923826.5870414315703440",
                                        "volumeUsd24Hr": "347275995.7532248958218439",
                                        "priceUsd": "0.0748214114741454",
                                        "changePercent24Hr": "-1.7639975081190468",
                                        "vwap24Hr": "0.0742890840542784",
                                        "explorer": "http://dogechain.info/chain/Dogecoin"
                                    },
                                    "timestamp": 1700663793164
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/assets/eos": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_assets_eos"
                                },
                                "example": {
                                    "data": {
                                        "id": "eos",
                                        "rank": "58",
                                        "symbol": "EOS",
                                        "name": "EOS",
                                        "supply": "1108902828.0334000000000000",
                                        "maxSupply": null,
                                        "marketCapUsd": "742480437.7383491068044420",
                                        "volumeUsd24Hr": "88342174.5377319523843720",
                                        "priceUsd": "0.6695631203818931",
                                        "changePercent24Hr": "-4.4502336165240903",
                                        "vwap24Hr": "0.6715612653700138",
                                        "explorer": "https://bloks.io/"
                                    },
                                    "timestamp": 1700663793800
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/exchanges": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "active": {
                                "value": "active"
                            }
                        }
                    },
                    {
                        "name": "type",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "spot": {
                                "value": "spot"
                            }
                        }
                    },
                    {
                        "name": "rank",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1": {
                                "value": "1"
                            }
                        }
                    },
                    {
                        "name": "country",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "US": {
                                "value": "US"
                            }
                        }
                    },
                    {
                        "name": "volume",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "1000000": {
                                "value": "1000000"
                            }
                        }
                    },
                    {
                        "name": "assets",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "examples": {
                            "true": {
                                "value": "true"
                            },
                            "false": {
                                "value": "false"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "name",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "coinbase": {
                                "value": "coinbase"
                            }
                        }
                    },
                    {
                        "name": "slug",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "kraken": {
                                "value": "kraken"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            },
                            "1d": {
                                "value": "1d"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin,ethereum": {
                                "value": "bitcoin,ethereum"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_exchanges"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "binance",
                                            "name": "Binance",
                                            "rank": "1",
                                            "percentTotalVolume": "40.347003081520113832000000000000000000",
                                            "volumeUsd": "10030814826.8396564733425878",
                                            "tradingPairs": "819",
                                            "socket": true,
                                            "exchangeUrl": "https://www.binance.com/",
                                            "updated": 1700663786482
                                        },
                                        {
                                            "exchangeId": "gdax",
                                            "name": "Coinbase Pro",
                                            "rank": "2",
                                            "percentTotalVolume": "8.775374298174957628000000000000000000",
                                            "volumeUsd": "2181677643.8971291046899315",
                                            "tradingPairs": "218",
                                            "socket": true,
                                            "exchangeUrl": "https://pro.coinbase.com/",
                                            "updated": 1700663786294
                                        },
                                        {
                                            "exchangeId": "whitebit",
                                            "name": "WhiteBIT",
                                            "rank": "3",
                                            "percentTotalVolume": "7.369897568498005925000000000000000000",
                                            "volumeUsd": "1832256974.6509680889731291",
                                            "tradingPairs": "90",
                                            "socket": false,
                                            "exchangeUrl": "https://whitebit.com",
                                            "updated": 1700663784816
                                        },
                                        {
                                            "exchangeId": "lbank",
                                            "name": "LBank",
                                            "rank": "4",
                                            "percentTotalVolume": "4.792655438033313254000000000000000000",
                                            "volumeUsd": "1191519457.6069371303678851",
                                            "tradingPairs": "101",
                                            "socket": false,
                                            "exchangeUrl": "https://www.lbank.info",
                                            "updated": 1700663746212
                                        },
                                        {
                                            "exchangeId": "gate",
                                            "name": "Gate",
                                            "rank": "5",
                                            "percentTotalVolume": "4.744834811887292699000000000000000000",
                                            "volumeUsd": "1179630598.2335388643463623",
                                            "tradingPairs": "1300",
                                            "socket": false,
                                            "exchangeUrl": "https://gate.io/",
                                            "updated": 1700663786037
                                        },
                                        {
                                            "exchangeId": "digifinex",
                                            "name": "DigiFinex",
                                            "rank": "6",
                                            "percentTotalVolume": "4.735018248083935843000000000000000000",
                                            "volumeUsd": "1177190066.6890180228276576",
                                            "tradingPairs": "135",
                                            "socket": false,
                                            "exchangeUrl": "https://www.digifinex.com/",
                                            "updated": 1700663786102
                                        },
                                        {
                                            "exchangeId": "uniswap-v3",
                                            "name": "Uniswap (V3)",
                                            "rank": "7",
                                            "percentTotalVolume": "4.482359733494537410000000000000000000",
                                            "volumeUsd": "1114375716.6578648168635466",
                                            "tradingPairs": "292",
                                            "socket": false,
                                            "exchangeUrl": "https://uniswap.org/",
                                            "updated": 1700663786471
                                        },
                                        {
                                            "exchangeId": "kraken",
                                            "name": "Kraken",
                                            "rank": "8",
                                            "percentTotalVolume": "4.363364334299503241000000000000000000",
                                            "volumeUsd": "1084791838.7138308727134115",
                                            "tradingPairs": "340",
                                            "socket": false,
                                            "exchangeUrl": "https://kraken.com",
                                            "updated": 1700663783704
                                        },
                                        {
                                            "exchangeId": "huobi",
                                            "name": "Huobi",
                                            "rank": "9",
                                            "percentTotalVolume": "3.146582084913885532000000000000000000",
                                            "volumeUsd": "782283188.8517327381458878",
                                            "tradingPairs": "213",
                                            "socket": true,
                                            "exchangeUrl": "https://www.hbg.com/",
                                            "updated": 1700663766315
                                        },
                                        {
                                            "exchangeId": "kucoin",
                                            "name": "Kucoin",
                                            "rank": "10",
                                            "percentTotalVolume": "2.538732355669550539000000000000000000",
                                            "volumeUsd": "631163462.2074699940816872",
                                            "tradingPairs": "624",
                                            "socket": false,
                                            "exchangeUrl": "https://www.kucoin.io/",
                                            "updated": 1700663779673
                                        }
                                    ],
                                    "timestamp": 1700663797817
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Request Error",
                        "content": {
                            "text/html; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorSchema"
                                },
                                "example": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot GET /invalidRoute/</pre>\n</body>\n</html>\n"
                            }
                        }
                    }
                }
            }
        },
        "/v2/markets": {
            "get": {
                "description": "No description.",
                "parameters": [
                    {
                        "name": "limit",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "examples": {
                            "10": {
                                "value": "10"
                            }
                        }
                    },
                    {
                        "name": "convert",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "USD": {
                                "value": "USD"
                            }
                        }
                    },
                    {
                        "name": "exchangeId",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "binance": {
                                "value": "binance"
                            }
                        }
                    },
                    {
                        "name": "interval",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "d1": {
                                "value": "d1"
                            },
                            "1d": {
                                "value": "1d"
                            }
                        }
                    },
                    {
                        "name": "ids",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "bitcoin,ethereum": {
                                "value": "bitcoin,ethereum"
                            }
                        }
                    },
                    {
                        "name": "sort",
                        "description": "No description.",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "rank": {
                                "value": "rank"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No description.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSchema_v2_markets"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "1",
                                            "baseSymbol": "FMA",
                                            "baseId": "flama",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000038100000000",
                                            "priceUsd": "0.1394486907234547",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700663700785
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "2",
                                            "baseSymbol": "ALGO",
                                            "baseId": "algorand",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000036900000000",
                                            "priceUsd": "0.1350566059762593",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "1223",
                                            "updated": 1700663709342
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "3",
                                            "baseSymbol": "ZIL",
                                            "baseId": "zilliqa",
                                            "quoteSymbol": "ETH",
                                            "quoteId": "ethereum",
                                            "priceQuote": "0.0000100200000000",
                                            "priceUsd": "0.0203297296697450",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": "8",
                                            "updated": 1700663679885
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "4",
                                            "baseSymbol": "GLM",
                                            "baseId": "golem-network-tokens",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
                                            "priceQuote": "0.0000066500000000",
                                            "priceUsd": "0.2433946964070798",
                                            "volumeUsd24Hr": "0.0000000000000000",
                                            "percentExchangeVolume": null,
                                            "tradesCount24Hr": null,
                                            "updated": 1700663682968
                                        },
                                        {
                                            "exchangeId": "alterdice",
                                            "rank": "5",
                                            "baseSymbol": "NEO",
                                            "baseId": "neo",
                                            "quoteSymbol": "BTC",
                                            "quoteId": "bitcoin",
[...]
